:root{
  --designtoken-BackgroundColor-primary--dark: rgb(195, 117, 19);
}
:root{
  --designtoken-BackgroundColor-tertiary--dark: rgb(28, 45, 81);
}
:root{
  --designtoken-BackgroundColor-surface--light: rgb(250, 250, 250);
}
:root{
  --designtoken-BackgroundColor-accent: rgb(121, 66, 217);
}
:root{
  --designtoken-BackgroundColor-dark--dark: rgb(0, 1, 5);
}
:root{
  --designtoken-BackgroundColor-error--light: rgb(215, 80, 87);
}
:root{
  --designtoken-BackgroundColor-error--dark: rgb(158, 33, 31);
}
:root{
  --designtoken-BackgroundColor-secondary--accent: rgb(76, 43, 95);
}
:root{
  --designtoken-BackgroundColor-background: rgb(250, 250, 250);
}
:root{
  --designtoken-BackgroundColor-dark--light: rgb(67, 67, 78);
}
:root{
  --designtoken-BackgroundColor-light--accent: rgb(243, 237, 252);
}
:root{
  --designtoken-BackgroundColor-tertiary: rgb(50, 82, 146);
}
:root{
  --designtoken-BackgroundColor-primary: rgb(229, 139, 28);
}
:root{
  --designtoken-BackgroundColor-surface--dark: rgb(230, 230, 230);
}
:root{
  --designtoken-BackgroundColor-primary--light: rgb(238, 171, 89);
}
:root{
  --designtoken-BackgroundColor-accent--accent: rgb(64, 34, 105);
}
:root{
  --designtoken-BackgroundColor-tertiary--light: rgb(59, 96, 171);
}
:root{
  --designtoken-BackgroundColor-dark: rgb(34, 23, 22);
}
:root{
  --designtoken-BackgroundColor-error: rgb(217, 69, 66);
}
:root{
  --designtoken-BackgroundColor-background--light: rgb(250, 250, 250);
}
:root{
  --designtoken-BackgroundColor-background--accent: rgb(243, 237, 252);
}
:root{
  --designtoken-BackgroundColor-secondary--dark: rgb(63, 46, 88);
}
:root{
  --designtoken-BackgroundColor-tertiary--accent: rgb(38, 85, 181);
}
:root{
  --designtoken-BackgroundColor-accent--light: rgb(157, 117, 227);
}
:root{
  --designtoken-BackgroundColor-light--dark: rgb(230, 230, 230);
}
:root{
  --designtoken-BackgroundColor-primary--accent: rgb(233, 176, 45);
}
:root{
  --designtoken-BackgroundColor-surface: rgb(245, 245, 245);
}
:root{
  --designtoken-BackgroundColor-light--light: rgb(250, 250, 250);
}
:root{
  --designtoken-BackgroundColor-accent--dark: rgb(107, 46, 211);
}
:root{
  --designtoken-BackgroundColor-dark--accent: rgb(26, 14, 47);
}
:root{
  --designtoken-BackgroundColor-error--accent: rgb(235, 64, 72);
}
:root{
  --designtoken-BackgroundColor-secondary--light: rgb(110, 80, 159);
}
:root{
  --designtoken-BackgroundColor-secondary: rgb(75, 55, 109);
}
:root{
  --designtoken-BackgroundColor-background--dark: rgb(230, 230, 230);
}
:root{
  --designtoken-BackgroundColor-light: rgb(245, 245, 245);
}
:root{
  --designtoken-BackgroundColor-surface--accent: rgb(243, 237, 252);
}
:root{
  --designtoken-TextColor-onAccent: rgb(255, 255, 255);
}
:root{
  --designtoken-TextColor-onLight: rgb(0, 0, 0);
}
:root{
  --designtoken-TextColor-onBackground--disabled: rgba(0, 0, 0, 0.38);
}
:root{
  --designtoken-TextColor-onDark--medium: rgba(255, 255, 255, 0.6);
}
/* Link text color */
:root{
  --designtoken-TextColor-primaryOnSurface: rgb(195, 117, 19);
}
:root{
  --designtoken-TextColor-onBackground: rgba(0, 0, 0, 0.87);
}
/* One Word Attribute */
:root{
  --designtoken-TextColor-tertiaryOnSurface: rgb(50, 82, 146);
}
:root{
  --designtoken-TextColor-onPrimary--disabled: rgba(0, 0, 0, 0.38);
}
:root{
  --designtoken-TextColor-onDark--disabled: rgba(255, 255, 255, 0.38);
}
:root{
  --designtoken-TextColor-onTertiary: rgb(255, 255, 255);
}
:root{
  --designtoken-TextColor-onPrimary: rgb(0, 0, 0);
}
:root{
  --designtoken-TextColor-onSurface--medium: rgba(0, 0, 0, 0.6);
}
:root{
  --designtoken-TextColor-onDark: rgb(255, 255, 255);
}
/* One Word Attribute */
:root{
  --designtoken-TextColor-accentOnSurface: rgb(121, 66, 217);
}
/* One Word Attribute */
:root{
  --designtoken-TextColor-secondaryOnSurface: rgb(75, 55, 109);
}
:root{
  --designtoken-TextColor-onError: rgb(0, 0, 0);
}
/* Logo */
:root{
  --designtoken-TextColor-secondaryOnDark: rgb(75, 55, 109);
}
:root{
  --designtoken-TextColor-onSurface--disabled: rgba(0, 0, 0, 0.38);
}
:root{
  --designtoken-TextColor-onLight--medium: rgba(0, 0, 0, 0.6);
}
/* Logo */
:root{
  --designtoken-TextColor-tertiaryOnBackground: rgb(50, 82, 146);
}
:root{
  --designtoken-TextColor-onSurface: rgba(0, 0, 0, 0.87);
}
/* Link text color */
:root{
  --designtoken-TextColor-primaryOnBackground: rgb(195, 117, 19);
}
:root{
  --designtoken-TextColor-onBackground--medium: rgba(0, 0, 0, 0.6);
}
:root{
  --designtoken-TextColor-onSecondary--disabled: rgba(255, 255, 255, 0.38);
}
:root{
  --designtoken-TextColor-onLight--disabled: rgba(0, 0, 0, 0.38);
}
/* One Word Attribute */
:root{
  --designtoken-TextColor-errorOnSurface: rgb(217, 69, 66);
}
:root{
  --designtoken-TextColor-onSecondary: rgb(255, 255, 255);
}
/* Logo */
:root{
  --designtoken-TextColor-tertiaryOnDark: rgb(50, 82, 146);
}
:root{
  --designtoken-BorderRadius-sm: 3px;
}
:root{
  --designtoken-Selected-backgroundColor: rgb(229, 139, 28);
}
:root{
  --designtoken-Selected-textColor: rgb(0, 0, 0);
}
