UNSPLASH_APPLICATION_ID='${dot_env__UNSPLASH_APPLICATION_ID}'
UNSPLASH_APPLICATION_NAME='${dot_env__UNSPLASH_APPLICATION_NAME}'
UNSPLASH_SECRET='${dot_env__UNSPLASH_SECRET}'
NEW_PUZZLE_CONTRIB='${dot_env__NEW_PUZZLE_CONTRIB}'
SECURE_COOKIE_SECRET='${dot_env__SECURE_COOKIE_SECRET}'
SUGGEST_IMAGE_LINK='${dot_env__SUGGEST_IMAGE_LINK}'
SMTP_HOST='${dot_env__SMTP_HOST}'
SMTP_PORT='${dot_env__SMTP_PORT}'
SMTP_USER='${dot_env__SMTP_USER}'
SMTP_PASSWORD='${dot_env__SMTP_PASSWORD}'
EMAIL_SENDER='${dot_env__EMAIL_SENDER}'
EMAIL_MODERATOR='${dot_env__EMAIL_MODERATOR}'
AUTO_APPROVE_PUZZLES='${dot_env__AUTO_APPROVE_PUZZLES}'
PUZZLE_RULES="${dot_env__PUZZLE_RULES}"
PUZZLE_FEATURES="${dot_env__PUZZLE_FEATURES}"
BLOCKEDPLAYER_EXPIRE_TIMEOUTS="${dot_env__BLOCKEDPLAYER_EXPIRE_TIMEOUTS}"
MINIMUM_PIECE_COUNT=${dot_env__MINIMUM_PIECE_COUNT}
MAXIMUM_PIECE_COUNT=${dot_env__MAXIMUM_PIECE_COUNT}
PUZZLE_PIECE_GROUPS="${dot_env__PUZZLE_PIECE_GROUPS}"
ACTIVE_PUZZLES_IN_PIECE_GROUPS="${dot_env__ACTIVE_PUZZLES_IN_PIECE_GROUPS}"
MINIMUM_IN_QUEUE_PUZZLES_IN_PIECE_GROUPS="${dot_env__MINIMUM_IN_QUEUE_PUZZLES_IN_PIECE_GROUPS}"
MAX_POINT_COST_FOR_REBUILDING=${dot_env__MAX_POINT_COST_FOR_REBUILDING}
MAX_POINT_COST_FOR_DELETING=${dot_env__MAX_POINT_COST_FOR_DELETING}
BID_COST_PER_PUZZLE=${dot_env__BID_COST_PER_PUZZLE}
POINT_COST_FOR_CHANGING_BIT=${dot_env__POINT_COST_FOR_CHANGING_BIT}
POINT_COST_FOR_CHANGING_NAME=${dot_env__POINT_COST_FOR_CHANGING_NAME}
NEW_USER_STARTING_POINTS=${dot_env__NEW_USER_STARTING_POINTS}
POINTS_CAP=${dot_env__POINTS_CAP}
BIT_ICON_EXPIRATION="${join(",\n", dot_env__BIT_ICON_EXPIRATION)}"
PUBLISH_WORKER_COUNT=${dot_env__PUBLISH_WORKER_COUNT}
STREAM_WORKER_COUNT=${dot_env__STREAM_WORKER_COUNT}
DOMAIN_NAME="${dot_env__DOMAIN_NAME}"
SITE_TITLE="${dot_env__SITE_TITLE}"
HOME_PAGE_ROUTE="${dot_env__HOME_PAGE_ROUTE}"
SOURCE_CODE_LINK="${dot_env__SOURCE_CODE_LINK}"
M3="${dot_env__M3}"
