@import "../site/viewport-breakpoints.css";

.pm-PlayerPuzzleInstanceList {
  --PlayerPuzzleInstanceList-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pm-PlayerPuzzleInstanceList > * {
  flex: none;
}

.pm-PlayerPuzzleInstanceList-list {
  margin: 0;
  padding: 0;
  height: var(--PlayerPuzzleInstanceList-size);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pm-PlayerPuzzleInstanceList-list > * {
  margin: 1px 2px;
  flex: none;
}

.pm-PlayerPuzzleInstanceList-listItem {
  display: block;
  list-style: none;
  width: var(--PlayerPuzzleInstanceList-size);
  height: var(--PlayerPuzzleInstanceList-size);
}

.pm-PlayerPuzzleInstanceList-instanceLink {
  display: block;
  overflow: hidden;
}

.pm-PlayerPuzzleInstanceList-listItem img {
  display: block;
  object-fit: cover;
  border: 1px solid var(--color-dark);
}

.pm-PlayerPuzzleInstanceList-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--PlayerPuzzleInstanceList-size);
  height: var(--PlayerPuzzleInstanceList-size);
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  background-color: var(--color-dark-light);
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}
.isDisabled.pm-PlayerPuzzleInstanceList-add {
  border: 1px solid var(--color-dark);
  background-color: var(--color-dark-light);
  opacity: 0.4;
}
