<h1>About Puzzle Massive</h1>

<p>
The goal of Puzzle Massive is to create a
<strong>Massively Multiplayer Online Jigsaw Puzzles</strong>
web application available to anyone with a supported web browser.
</p>
<ul>
  <li>
    All images used for puzzles are hand-picked, and mostly come from
    <a href="https://unsplash.com/">Unsplash</a> as well as player submitted images.
  </li>
  <li>
    Multiple players can move pieces at the same time for a puzzle.
  </li>
  <li>
    Supports anonymous players that are identified with an icon.
  </li>
  <li>
    Players can attain high score bragging rights.
  </li>
  <li>
    No ads.
  </li>
  <li>
    Open source project under the GNU Affero General Public License.  Source code available at: <a href="https://github.com/jkenlooper/puzzle-massive/">github.com/jkenlooper/puzzle-massive/</a>
  </li>
</ul>

<p>Built by me, Jake Hickenlooper, in my spare time; 'cause <em>I enjoy creating things that I can endlessly break and fix.</em>
<br>
My personal web site: <a href="http://www.weboftomorrow.com">Web of Tomorrow</a>
</p>

<p><strong>Are you interested in helping?</strong>
  Check out the
  <a href="https://github.com/jkenlooper/puzzle-massive/">Puzzle Massive project on GitHub</a>.
  If you have ideas on how to improve the site, or see something that can be
  improved, then create an issue there.  I would also love help with other
  aspects to the site like design, or copy and documentation and such.  For
  those that have some background in web development (or want to learn) you can
  get a local version of Puzzle Massive running on your machine.
</p>

<p>
  Please contact me or post a message in the development channel on the
  <a href="https://discord.gg/uVhE2Kd">Discord chat server</a>
  if you are interested in contributing to the source code.  Pull requests are
  welcomed and I would love to collaborate with others on this project.
</p>

<h2>The <strike>boring</strike> history of the project</h2>
<p>
The idea of an online multiplayer jigsaw puzzle is quite simple; drag a piece
from one location to another, see that change happen for everyone else viewing
the page.  Right, so you save the coordinates after the player moves the piece
and publish that to all of the players that are subscribed to that jigsaw
puzzle. Handle the complexity of joining pieces... somehow.  Oh, and each
puzzle piece shape should be randomly generated.  Which also means that players
should have the ability to create puzzles from any picture they want.  Throw in
some quick thread handling, so the web application can continue serving
requests while a puzzle is generating... and well, it's no longer a simple
application.
</p>

<p>
So, this all started around 2011 as a side project.  It's been through a few
revisions, but still carries some old ways of doing things.  The project is now
getting more attention as I'm improving the user interface as well as the
server side code.
</p>

<p>
I am still working on this as a side project and work on it when I can. The
<a href="https://github.com/jkenlooper/puzzle-massive/labels/feature">upcoming feature list</a>
is like a massive jigsaw puzzle that I enjoy working on.
Some pieces are simple to join together, and others require more effort.
</p>

<p>Learn more about this project from this <a href="http://www.weboftomorrow.com/site/puzzle-massive/">short article</a>.  I also describe the <a href="/chill[chill page_uri credits]#puzzle-massive-software-stack">software stack on the credits page</a>.</p>


