<h1>Application for being a Contributor on Puzzle Massive</h1>

<p>Please fill out this form to apply.</p>

<p> At the moment <em>I'm still developing this new feature</em> which will add
a contributor role.  Contributors will be able to create custom jigsaw puzzles
for displaying on the site.</p>

<script type="text/javascript" src="https://form.jotform.com/jsform/62963201567155"></script>
