<h1>Credits</h1>
<p class="u-textRight">
Roll the credits
</p>

<h2>Player Bit Icons</h2>
<p>Each player has the option to pick a <em>bit</em> icon that represents them
on the puzzle.  The site uses these predefined icons instead of letting players
upload their own.</p>

<h3>Artists</h3>

<article id="icon-artist-martin-berube">
  <h1>
    Martin Berube
  </h1>
  <p>
  The majority of icons used are from Martin Berube. Here are some examples:
  <span class="u-block">
    [chill route /bit-icons/food-cheese/ ]
    [chill route /bit-icons/sports-Volleyball/ ]
    [chill route /bit-icons/character-King/ ]
    [chill route /bit-icons/animal-crocodile/ ]
    [chill route /bit-icons/vehicle-police/ ]
  </span>
  </p>
  <p>
  <span class="u-block">
    <strong>Homepage:</strong>
    <a href="http://www.how-to-draw-funny-cartoons.com">How to draw funny cartoons. Simple guide to improve your drawing skills.</a>
  </span>
  <span class="u-block">
    <strong>Portfolio:</strong>
    <a href="http://www.iconarchive.com/artist/martin-berube.html">Martin Berube profile on IconArchive</a>
  </span>
  [chill route /artist/martin-berube/bit-icons/ ]
  </p>
</article>

<article id="icon-artist-mackenzie-deragon">
  <h1>
    Mackenzie Deragon
  </h1>
  <p>
  Here are some examples:
  <span class="u-block">
    [chill route /bit-icons/mackenzie-BlackBear/ ]
    [chill route /bit-icons/mackenzie-Cloud_Happy/ ]
    [chill route /bit-icons/mackenzie-EvilGnome/ ]
    [chill route /bit-icons/mackenzie-smudge/ ]
    [chill route /bit-icons/mackenzie-SunFlower/ ]
  </span>
  </p>
  <p>
  <span class="u-block">
    <a href="https://plus.google.com/118328938247559548750">Google+ Profile</a>
  </span>
  [chill route /artist/mackenzie-deragon/bit-icons/ ]
  </p>
</article>

<h2>Other Icons</h2>

<p>
<svg class="u-icon u-block"><use xlink:href="#paint-can-sprite"/></svg>
Paint Can by <a href="https://thenounproject.com/alejovaldivia">Alex Valdivia</a> from <a href="http://thenounproject.com/">the Noun Project</a>
</p>

<p>
<svg class="u-icon u-block"><use xlink:href="#image-sprite"/></svg>
Image
by <a href="https://thenounproject.com/tonywallstrom">Tony Wallström</a> from <a href="http://thenounproject.com/">the Noun Project</a>
</p>

<p>
<svg class="u-icon u-block"><use xlink:href="#minimize-sprite"/></svg>
minimize
by <a href="https://thenounproject.com/tonywallstrom">Tony Wallström</a> from <a href="http://thenounproject.com/">the Noun Project</a>
</p>

<p>
<svg class="u-icon u-block"><use xlink:href="#full-screen-sprite"/></svg>
Full Screen
by <a href="https://thenounproject.com/tonywallstrom">Tony Wallström</a> from <a href="http://thenounproject.com/">the Noun Project</a>
</p>

<p>
<svg class="u-icon u-block"><use xlink:href="#arrow-left-circle-sprite"/></svg>
Arrow Left
by <a href="https://thenounproject.com/tonywallstrom">Tony Wallström</a> from <a href="http://thenounproject.com/">the Noun Project</a>
</p>

<p>
<svg class="u-icon u-block"><use xlink:href="#info-circle-sprite"/></svg>
Info Circle
by <a href="https://thenounproject.com/tonywallstrom">Tony Wallström</a> from <a href="http://thenounproject.com/">the Noun Project</a>
</p>


<article id="puzzle-massive-software-stack">
<h1>Software stack</h1>
<p>
For the curious.
</p>
<ul>
  <li><a href="https://www.nginx.com/">nginx</a>
  [engine x] is an HTTP and reverse proxy server.</li>

  <li><a href="https://www.sqlite.org/">SQLite</a>
  is a self-contained, high-reliability, embedded, full-featured, public-domain, SQL database engine.</li>

  <li><a href="https://redis.io/">Redis</a>
  is an open source (BSD licensed), in-memory data structure store, used as a database, cache and message broker.</li>

  <li><a href="http://flask.pocoo.org/">Flask</a>
  A microframework based on Werkzeug, Jinja2 and good intentions</li>

  <li><a href="http://jinja.pocoo.org/">Jinja2</a>
  The Jinja2 template engine</li>

  <li><a href="https://github.com/jkenlooper/chill">Chill</a>
  Cascading, Highly Irrelevant, Lost Llamas</li>

  <li><a href="https://github.com/jkenlooper/slab-massive">Slab Massive</a>
  experimental web component</li>

  <li><a href="https://github.com/jkenlooper/piecemaker">piecemaker</a>
  Create jigsaw puzzle pieces</li>

  <li><a href="https://github.com/jkenlooper/pixsaw">pixsaw</a>
  Cut a picture into pieces by cutting along pixel lines</li>

  <li>Javascript libraries in use:
    <a href="https://angularjs.org/">AngularJS</a>,
    <a href="https://hammerjs.github.io/">Hammer.js</a>,
    <a href="https://github.com/daniellmb/MinPubSub">MinPubSub</a>,
    <a href="https://github.com/EastDesire/jscolor">jscolor</a>,
    <a href="https://github.com/ded/reqwest">reqwest</a>,
    <a href="https://github.com/aFarkas/lazysizes">lazysizes</a>
  </li>
</ul>

<p>
  Hosted on a <a href="https://www.digitalocean.com/">Digital Ocean</a>
  cloud server.  Currently using a 2GB memory server (droplet).
  Some files are also hosted on <a href="https://aws.amazon.com/s3/">Amazon S3</a>.
  Uses <a href="https://unsplash.com/developers">Unsplash API</a>
  when creating a jigsaw puzzle from an unsplash photo.
  Some web forms are also hosted on
  <a href="https://www.wufoo.com/">Wufoo</a>
  and <a href="https://www.jotform.com/">JotForm</a>.
</p>

<p>
I started this project on November 27, 2010; took a bit of a break around 2013 through 2016 and have been doing a lot of changes since May of 2016.
<img class="u-imgResponsive" width="640" height="222" src="/media/commit-graph-2010-11-27-to-2017-04-29.png" alt="Commit graph from 2010-11-27 to 2017-04-29">

The project is now open source under the GNU Affero General Public License.  The
source code is available at
<a href="https://github.com/jkenlooper/puzzle-massive/">github.com/jkenlooper/puzzle-massive/</a>.
Previous git commit history is available on request.
</p>


</article>
