<section>
  <h1>FAQ's</h1>
  <p>Here are some made up Frequently Asked Questions concerning this jigsaw puzzle website.</p>

  <dl>
    <dt>How do you prevent other players from messing up the pieces?</dt>
    <dd>Players earn karma points for joining pieces on a puzzle.  These points
    are temporary and only apply to each puzzle.  Moving larger groups of
    pieces deduct these points as well as stacking pieces and other things.  If
    a player gets too low of karma points they are temporarily blocked from
    moving any more pieces on that puzzle.</dd>

    <dt>How do I gain access to a puzzle that my piece moves have been blocked on?</dt>
    <dd>It may be possible to gain access by maxing out your karma points on a different puzzle.</dd>
    <dd>If there are other players that are on the same network with you
    (assuming they have earned enough karma points) they might be able to get
    you back in by joining pieces on the blocked puzzle.</dd>

    <dt>The puzzle page doesn't show any pieces.</dt>
    <dd>Most likely because the web browser being used is not supported.
    Please use a more recent version.  Supporting less capable browsers is not
    a top priority at this point.</dd>

    <dt>What browsers are supported?</dt>
    <dd>Only recent versions of Google Chrome, Safari, and FireFox are
    supported. iPhones and iPads running recent version of iOS are also
    supported.  Other touch screen devices that run Android and have the Google
    Chrome browser should work.  I mostly play on a Google Nexus phone which
    works pretty well on the smaller puzzles.</dd>

    <dt>Are there any keyboard keys assigned?</dt>
    <dd>Only the full scale puzzle has keyboard keys assigned to aid navigating
    around a puzzle.  I haven't implemented keyboard navigation on the scaled
    down view of the puzzle.
    <ul>
      <li><strong><code>w</code>, <code>a</code>, <code>s</code>, and <code>d</code> keys</strong> will scroll jump in that direction (up, left, down, right)</li>
      <li><strong><code>shift</code> + <code>0</code> - <code>9</code> keys</strong> set a jump point</li>
      <li><strong><code>0</code> - <code>9</code> keys</strong> scroll to a set jump point</li>
      <li><strong><code>z</code> key</strong> will go back to the previous scroll position after going to a jump point</li>
    </ul>
    </dd>

    <dt>The design and the user interface for the puzzle page changed.  Why?!</dt>
    <dd>Change is good, and I like to break stuff.</dd>

    <dt>This project is open source?</dt>
    <dd>It didn't start off as an open source project when I first started it in
    2011.  I have recently moved it to being an open source project under the
    GNU Affero General Public License.  I also decided to not include the past
    git commit history in order to clean up things.  Pull Requests are welcome.
    See the link to the project in the footer.
    </dd>

    <dt>What software stack did you use?</dt>
    <dd>Mostly built with python on the server side;
    <a href="/chill[chill page_uri credits]#puzzle-massive-software-stack">more detail about the stack</a>
    is on the credits page.</dd>

    <dt>Where are the ads?</dt>
    <dd>I think most people don't like ads, including me.</dd>

    <dt>Can I create my own puzzle?</dt>
    <dd>
    You can <a href="/chill[chill page_uri new-puzzle/submit]">submit a picture</a>
    that you would like to become a jigsaw puzzle.
    Or you can <a href="/chill[chill page_uri contributor-application]">apply
      for being a contributor</a> to create custom jigsaw puzzles.
    </dd>

    <dt>Bit Icon?</dt>
    <dd>I suppose this is my own made up thing.  The idea is that
    a <em>bit</em> is like a game piece that is used to signify you as
    a player.  Like being the horse or hat in Monopoly.  For Puzzle Massive
    a bit icon is a somewhat temporary identity that is used while
    playing.  Inactive players will have their bit icon recycled.</dd>
    <dd>These icons are made by these two artists:
    <a href="/chill[chill page_uri credits]#icon-artist-martin-berube">Martin Berube</a>
    and
    <a href="/chill[chill page_uri credits]#icon-artist-mackenzie-deragon">Mackenzie Deragon</a>.
    I will eventually add more in the future.
    </dd>


    <dt>How to login or signup?</dt>
    <dd>I initially developed this with no login system and only use browser
    cookies for keeping bit icons.  So no login or signup system is in place at
    the moment.  You can use the anonymous login link that is available on the
    player profile page.  View that by clicking on your bit icon in the
    header.</dd>

    <dt>How is the project funded?</dt>
    <dd>
    I have a
    <a href="https://www.paypal.me/jkenlooper">PayPal.Me link</a>
    if you would like to send a one-time donation or bribe ;) for me to fix
    something. At this point, I have no plans on monetizing any new features.
    My goal is to just continue hacking away at it as a fun side project and
    learn new stuff.
    </dd>

    <dt>Can I help in other ways?</dt>
    <dd>
    <ul>
        <li>
            <a href="/chill[chill page_uri help]#bug-reports">Suggest features or submit bug reports</a>.
        </li>
        <li>
            Tell your friends and organize puzzle parties.
        </li>
        <li>
            Suggest good images to use for new puzzles.
        </li>
        <li>
          Hang out in the chat and help new players.
        </li>

        <li>
          Gain some experience and contribute to the Puzzle Massive project.
          <ul>
            <li>Improve the documentation</li>
            <li>Implement a new feature</li>
            <li>Fix a bug</li>
            <li>Improve the text on the site so it reads better</li>
            <li>Suggest an improvement to the design and function</li>
          </ul>
        </li>
    </ul>
    </dd>
  </dl>
</section>
