<h1>Help</h1>
<p>Problems with the site?  Need help with a puzzle?  Got a cool idea?  Why are you reading this page when you could be puzzling?
</p>
<ul>
  <li>Online chat with other players at <a href="https://discord.gg/uVhE2Kd">Discord</a></li>
  <li>Send a bug report to puzzle-bug@massive.xyz</li>
  <li>Or create an issue on the
    <a href="https://github.com/jkenlooper/puzzle-massive/issues">project page for Puzzle Massive</a>
  </li>
</ul>

<p>I made up some <a href="/chill[chill page_uri faq]">questions and answers</a> if the answers that you have questions for are found here&hellip; then maybe that is useful.</p>

<article id="bug-reports">
<h1>Bug reports</h1>
<p>Please submit any issues with the site at this <a href="https://form.jotform.us/71195483219158">bug
  submission form</a> or email puzzle-bug@massive.xyz if you don't want to add it directly to the issue board on the project page.  Sensitive security issues and such should be emailed or use the bug submission form.
</p>
<p>
I know there are a lot of things that can be improved
and your detailed report will help.  You may also submit various feature
requests for ideas you have that would make the puzzle site more fun.
</p>
</article>

<article>
<h1>Demo/tutorial videos</h1>

<p>
I plan to create some screencasts for a general walkthrough of the site.  I will list them here when I have them done.
</p>

<p>
<strong>Created your own demo or tutorial video?</strong> Send me a link to the video and I'll review and list them here.
</p>

<h2>(Outdated) small screen demo</h2>
<p>This is an example of using a small screen (like a smart phone) to put together a puzzle.  In the video, the puzzle is scaled down and shows the viewfinder and zoom in/out controls.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9wm12XBG9tw" frameborder="0" allowfullscreen></iframe>
</article>
