<h1>
Volunteer Positions
</h1>

<p>
  This page is no longer relevant.  Please view the project at it's project page:
  <a href="https://github.com/jkenlooper/puzzle-massive/">github.com/jkenlooper/puzzle-massive/</a>
</p>
