.pm-LatestPlayerList {
}

.pm-LatestPlayerList-group {
  padding: 5px;
}
.pm-LatestPlayerList-group--recent {
  color: var(--designtoken-BackgroundColor-primary--dark);
}

.pm-LatestPlayerList-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (min-width: 760px) {
  .pm-LatestPlayerList-list {
    justify-content: flex-end;
  }
}

.pm-LatestPlayerList-item {
  align-items: center;
  position: relative;
  display: inline-flex;
  padding: 5px 2px 5px 20px;
  flex: 0 1 300px;
}
.pm-LatestPlayerList-group--recent .pm-LatestPlayerList-item {
}

.is-active.pm-LatestPlayerList-item {
  color: var(--designtoken-TextColor-accent);
}

.pm-LatestPlayerList-item--row {
}
.pm-LatestPlayerList-item--condensed {
}

.pm-LatestPlayerList-timeSince {
}
.pm-LatestPlayerList-item--row .pm-LatestPlayerList-timeSince {
}
.pm-LatestPlayerList-item--condensed .pm-LatestPlayerList-timeSince {
}

.pm-LatestPlayerList-playerBit {
}

.pm-LatestPlayerList-badge {
  border: 1px solid var(--designtoken-BackgroundColor-dark--dark);
  background-color: var(--designtoken-BackgroundColor-dark--light);
  color: var(--designtoken-TextColor-onDark);
  padding: 2px;
  font-size: small;
  line-height: 1.3;
  margin-right: 4px;
  border-radius: 5px;
}
.pm-LatestPlayerList-group--recent .pm-LatestPlayerList-badge {
  background-color: var(--designtoken-BackgroundColor-primary--light);
  border-color: var(--designtoken-BackgroundColor-primary--dark);
  color: var(--designtoken-TextColor-onPrimary);
}

.pm-LatestPlayerList-badgeLabel {
  display: inline;
}
.pm-LatestPlayerList-item--row .pm-LatestPlayerList-badgeLabel {
}

.pm-LatestPlayerList-score {
}
.pm-LatestPlayerList-group--recent .pm-LatestPlayerList-score {
}

.pm-LatestPlayerList-scoreLabel {
}
.pm-LatestPlayerList-item--row .pm-LatestPlayerList-scoreLabel {
}
