.pm-LatestPlayerList {
}

.pm-LatestPlayerList-list {
}

.pm-LatestPlayerList-item {
  display: inline-block;
}

.is-active.pm-LatestPlayerList-item {
  display: block;
}

.pm-LatestPlayerList-timeSince {
  display: none;
}
.is-active.pm-LatestPlayerList-item .pm-LatestPlayerList-timeSince {
  display: inline;
}

.pm-LatestPlayerList-playerBit {
}

.pm-LatestPlayerList-score {
}
