*
!/code-formatter/*
/code-formatter/.last-modified
!/.editorconfig
!/.flake8
!/.prettierrc
!/.stylelintrc

!/design-tokens/src/*
!/mockups/*
!/source-media/*
!/root/*
!/enforcer/*
!/queries/*
!/stream/*
!/client-side-public/src/*
!/docs/*
!/api/*
!/chill/*
!/chill-data/*
!/divulger/*
!/documents/*
!/templates/*
