*.DS_Store
/.env
/.htpasswd
/.vagrant/
/site.cfg
/frozen.tar.gz
/web/puzzle-massive.conf
/web/puzzle-massive--down.conf
/stats/awstats.puzzle.massive.xyz.conf
/stats/awstats-puzzle-massive-crontab
/chill/puzzle-massive-chill.service
/api/puzzle-massive-api.service
/api/puzzle-massive-artist.service
/api/puzzle-massive-janitor.service
/api/puzzle-massive-scheduler.service
/divulger/puzzle-massive-divulger.service
/db
/db.dump.sql
/dist/
/frozen/
/logs/
/node_modules/
/npm-debug.log
/src/*/*.tmp.css
/src/*/*.tmp.css.map
/src/*/*.tmp.js
/src/*/*.tmp.js.map
/puzzle-massive/*
!/puzzle-massive/MANIFEST

/web/dhparam.pem
/web/rootCA.key
/web/rootCA.pem
/web/rootCA.srl
/web/server.crt
/web/server.csr
/web/server.key
/web/v3.ext

/include/
/lib/
/local/
/share/
/pysqlite2-doc/

*.pyc
*.egg-info/

/tests/
