# See http://help.github.com/ignore-files/ for more about ignoring files.

*.DS_Store
/.env
/.env.bak*
/.eslintcache
/.htpasswd
/.has-certs
/.vagrant/
/.design-tokens-css
/site.cfg
/frozen.tar.gz
/puzzle-massive-*.tar.gz
/web/snippets/add_header-cache-control-newapi-puzzle-pieces.nginx.conf
/web/snippets/limit_req-piece_move_limit.nginx.conf
/web/snippets/limit_req-piece_token_limit_per_ip.nginx.conf
/web/snippets/location-dist.nginx.conf
/web/snippets/location-media.nginx.conf
/web/snipets/ssl_certificate-ssl_certificate_key.nginx.conf
/web/snippets/proxy_pass-origin.nginx.conf
/web/snippets/proxy_pass-proxy_redirect-api.nginx.conf
/web/snippets/proxy_pass-proxy_redirect-chill.nginx.conf
/web/snippets/proxy_pass-proxy_redirect-publish.nginx.conf
/web/snippets/proxy_pass-stream.nginx.conf
/web/snippets/proxy_redirect-on-legacy-cache.nginx.conf
/web/snippets/rewrite-home_page_route.nginx.conf
/web/snippets/server_name-legacy-cache.nginx.conf
/web/snippets/server_name-listen-set_real_ip_from-origin.nginx.conf
/stats/awstats.puzzle.massive.xyz.conf
/stats/awstats-puzzle-massive-crontab
/chill/puzzle-massive-chill.service
/api/puzzle-massive-api.service
/api/puzzle-massive-artist.service
/api/puzzle-massive-janitor.service
/api/puzzle-massive-scheduler.service
/api/puzzle-massive-cache-purge.path
/api/puzzle-massive-cache-purge.service
/api/puzzle-massive-backup-db.timer
/api/puzzle-massive-backup-db.service
/divulger/puzzle-massive-divulger.service
/stream/puzzle-massive-stream.service
/enforcer/puzzle-massive-enforcer.service
/db
/db.dump.sql
/dist/
/frozen/
/logs/
/node_modules/
/npm-debug.log
/src/*/*.tmp.css
/src/*/*.tmp.css.map
/src/*/*.tmp.js
/src/*/*.tmp.js.map
/_infra/local/output/*
!/_infra/local/output/README.md

/web/dhparam.pem
/web/local-puzzle-massive.crt
/web/local-development.csr
/web/local-puzzle-massive.key

/include/
/lib/
/lib64/
/lib64
/local/
/share/
/pysqlite2-doc/
/pyvenv.cfg

*.pyc
*.egg-info/

/tests/

# favicon.ico is generated from source-media/favicon/
/root/favicon.ico

/root/puzzle-massive-logo-600.jpg
/root/puzzle-massive-logo-600.png

# bit icons are created from source-media/bit-icons/
/media/bit-icons/*
!/media/bit-icons/README.md
# All bit icon images should come from a separate repo. Puzzle Massive uses the
# puzzle-massive-content repo for it's bit icons. See the 'with-content' git
# branch.
/source-media/bit-icons/*.png
/source-media/bit-icons/source-*.yaml

/chill-data/*
!/chill-data/styleguide.yaml
!/chill-data/README.md

/documents/other/*
!/documents/other/README.md
/queries/other/*
!/queries/other/README.md
/templates/other/*
!/media/other/README.md
/media/other/*
!/templates/other/README.md
