@import "../site/viewport-breakpoints.css";

.pm-Profilepage {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40em;
  width: calc(100vw - 40px);
}

.pm-Profilepage-account {
}

.pm-Profilepage-accountActions {
}

.pm-Profilepage-emailRegister {
}

.pm-Profilepage-anonymousLogin {
}
