@import "../site/viewport-breakpoints.css";

:root {
  --PlayerPuzzleInstanceList-width: 400px;
}

.pm-PlayerPuzzleInstanceList {
  --PlayerPuzzleInstanceList-size: calc(
    (var(--PlayerPuzzleInstanceList-width) / 5) - 2px
  );
}

.pm-PlayerPuzzleInstanceList-list {
  margin: 0;
  padding: 0;
  height: var(--PlayerPuzzleInstanceList-size);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pm-PlayerPuzzleInstanceList-list > * {
  flex: none;
}
.pm-PlayerPuzzleInstanceList-list > * + * {
  margin-left: 2px;
}

.pm-PlayerPuzzleInstanceList-listItem {
  display: block;
  list-style: none;
  width: var(--PlayerPuzzleInstanceList-size);
  height: var(--PlayerPuzzleInstanceList-size);
}

.pm-PlayerPuzzleInstanceList-instanceLink {
  display: block;
  width: var(--PlayerPuzzleInstanceList-size);
  height: var(--PlayerPuzzleInstanceList-size);
}

.pm-PlayerPuzzleInstanceList-listItem img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--color-dark);
}
.pm-PlayerPuzzleInstanceList-imageUnknown {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--color-dark);
}

.pm-PlayerPuzzleInstanceList-available {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--PlayerPuzzleInstanceList-size);
  height: var(--PlayerPuzzleInstanceList-size);
  border: 2px solid currentColor;
  border-radius: 5px;
  background-color: var(--color-light-light);
  font-weight: bold;
  text-decoration: none;
}
.pm-PlayerPuzzleInstanceList-available--overTen {
  font-size: small;
  font-weight: normal;
}

.pm-PlayerPuzzleInstanceList-availableCount {
}
.pm-PlayerPuzzleInstanceList-availableCount
  + .pm-PlayerPuzzleInstanceList-availableCount:before {
  content: "/";
}
