<div class="pm-PuzzlePieces">
  <div class="pm-PuzzlePieces-collection">
  </div>
  <div class="pm-PuzzlePieces-dropZone"></div>
  <div class="pm-PuzzlePieces-outline" id="puzzle-outline">
  </div>
  <section id="puzzle-pieces-alert" class="pm-PuzzlePieces-alert" style="display: none;">
      <h1><small>Alerts</small></h1>
      <div id="puzzle-pieces-alert-max"  class="pm-PuzzlePieces-alertMessage pm-PuzzlePieces-alertMessage--max">

          <h2>Max Connections</h2>
          <p>
          Puzzle piece movement updates are disabled, because site has reached max
          connections.
          </p>
      </div>

      <div id="puzzle-pieces-alert-reconnecting"  class="pm-PuzzlePieces-alertMessage pm-PuzzlePieces-alertMessage--reconnecting">

          <h2>Reconnecting&hellip;</h2>
          <p>
          Puzzle piece movement updates are disabled while reconnecting.
          </p>
      </div>

      <div id="puzzle-pieces-alert-disconnected"  class="pm-PuzzlePieces-alertMessage pm-PuzzlePieces-alertMessage--disconnected">

          <h2>Disconnected</h2>
          <p>
          Puzzle piece movement updates are disabled. Try reloading the page.
          </p>
      </div>

      <div id="puzzle-pieces-alert-blocked"  class="pm-PuzzlePieces-alertMessage pm-PuzzlePieces-alertMessage--blocked">
          <h2>Your piece moves have been blocked</h2>
          <p>
          It would seem that recent piece moves from you were flagged as unhelpful on this puzzle.
          </p>
      </div>
  </section>
</div>
