<div class="pm-KarmaStatus" title="Your puzzle karma.  Changes based on your recent piece movements on this puzzle.  Your piece movements will be blocked temporarily if this reaches 0.">
  <span class="pm-KarmaStatus-bar" ng-style="{height: KarmaStatusController.amount + '%'}">
  </span>
</div>
