:root {
  --pm-PlayerBit-color: var(--color-dark);
}
.pm-PlayerBit {
  display: inline-block;
  vertical-align: middle;
}
.hasNoBit.pm-PlayerBit {
  background-color: var(--pm-PlayerBit-color);
  color: var(--color-light-light);
  border-radius: 37%;
  border: 1px solid var(--color-dark-dark);
  padding: 0 4px;
}
