@import "../site/60settings.css";

.pm-Puzzlepage {
  background-color: var(--color-primary-dark);
  color: var(--color-light);
}

.pm-Puzzlepage-grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  outline: 4px solid var(--color-primary-dark);
  min-width: 100vw;
  min-height: 100vh;
}

.pm-Puzzlepage-gridA {
  margin: 10px 20px;
  max-width: 800px;
}

.pm-Puzzlepage-gridB {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
}

/* the tool bar */
.pm-Puzzlepage-gridB1 {
  flex: 0 1 auto;
  order: 2;
  background-color: var(--color-primary-dark);
  padding: 5px;
  width: 30px;
  color: var(--color-light);
}

.pm-Puzzlepage-gridB1 > * {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.pm-Puzzlepage-gridB1 a {
  color: currentColor;
}

/* Modifier to show it on the top */
.pm-Puzzlepage-gridB1--top {
  display: flex;
  flex: none;
  align-items: center;
  order: 1;
  width: 100%;
}

.pm-Puzzlepage-gridB1--top > * + * {
  margin-left: 20px;
}

.pm-Puzzlepage-icon {
  fill: currentColor;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.pm-Puzzlepage-gridB1--top .pm-Puzzlepage-icon {
  width: 50px;
  height: 50px;
}

.pm-Puzzlepage-icon--small {
}

.pm-Puzzlepage-icon--background {
  stroke: var(--color-primary-dark);
  stroke-width: 2px;
  stroke-linejoin: round;
  position: absolute;
  z-index: 1;
}

input:checked + .pm-Puzzlepage-icon {
  opacity: 0.5;
}

.pm-Puzzlepage-actionButton {
  position: relative;
  outline: 0;
  border: 0;
  background: transparent;
}

.pm-Puzzlepage-gridB2 {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: stretch;
  order: 1;
  width: calc(100vw - 70px);
  height: 100vh;
}

/* puzzle at full size */
.pm-Puzzlepage-gridB2--full {
  width: 100%;
  height: auto;
}

.pm-Puzzlepage-main {
  flex: 1 0 auto;
  height: 100vh;
}
.pm-Puzzlepage-gridB2--full .pm-Puzzlepage-main {
  height: auto;
}

.pm-Puzzlepage-previewBox {
  user-select: none;
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 500;
  border: 1px solid black;
  background-color: white;
  width: auto;
}

.pm-Puzzlepage-previewImg {
  display: block;
  max-width: 384px;
  max-height: 384px;
}

.pm-Puzzlepage-descriptionToggle {
}

.pm-Puzzlepage-descriptionHeader {
  display: flex;
}
.pm-Puzzlepage-descriptionHeader > * + * {
  margin-left: 20px;
}

.pm-Puzzlepage-description {
  position: relative;
  padding: 20px 10px;
  max-width: 100vmin;
  overflow: hidden;
}

.pm-Puzzlepage-descriptionToggle + .pm-Puzzlepage-description {
  display: none;
}

.pm-Puzzlepage-descriptionToggle:checked + .pm-Puzzlepage-description {
  display: block;
}

.pm-Puzzlepage-descriptionClose {
  display: none;
}

.pm-Puzzlepage-descriptionToggle:checked + .pm-Puzzlepage-description .pm-Puzzlepage-descriptionClose {
  display: block;
  margin-left: auto;
  border: 2px solid currentcolor;
  border-radius: 13px;
  padding: 13px;
  font-size: 200%;
}
