.pm-Puzzlepage {
}

.pm-Puzzlepage-grid {
}

.pm-Puzzlepage-gridA {
  margin: 10px 20px;
  max-width: 800px;
}

.pm-Puzzlepage-gridB {
}

.pm-Puzzlepage-main {
  min-width: 100vw;
  min-height: 100vh;
}

.pm-Puzzlepage-previewBox {
  user-select: none;
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 500;
  border: 1px solid black;
  background-color: white;
  width: auto;
}

.pm-Puzzlepage-previewImg {
  display: block;
  max-width: 384px;
  max-height: 384px;
}

.pm-Puzzlepage-descriptionToggle {
}

.pm-Puzzlepage-descriptionHeader {
  display: flex;
}
.pm-Puzzlepage-descriptionHeader > * + * {
  margin-left: 20px;
}

.pm-Puzzlepage-description {
  position: relative;
  padding: 20px 10px;
  max-width: 100vmin;
  overflow: hidden;
}

.pm-Puzzlepage-descriptionToggle + .pm-Puzzlepage-description {
  display: none;
}

.pm-Puzzlepage-descriptionToggle:checked + .pm-Puzzlepage-description {
  display: block;
}

.pm-Puzzlepage-descriptionClose {
  display: none;
}

.pm-Puzzlepage-descriptionToggle:checked
  + .pm-Puzzlepage-description
  .pm-Puzzlepage-descriptionClose {
  display: block;
  margin-left: auto;
  border: 2px solid currentcolor;
  border-radius: 13px;
  padding: 13px;
  font-size: 200%;
}
