.pm-Queue {
}

.pm-Queue-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pm-Queue-list > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 13px;
  width: 150px;
}

.pm-Queue-list > a {
  text-decoration: none;
}

.pm-Queue-listitem {
  margin-top: auto;
}

.pm-Queue-pieceCount {
  display: inline-block;
  flex: none;
  margin-top: auto;
  padding: 13px;
  overflow: hidden;
  line-height: 1;
  white-space: nowrap;
}
