.pm-Doc {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40em;
  width: calc(100vw - 40px);
}

/*
.pm-Doc-menuLink {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid currentColor;
  text-decoration: none;
  color: var(--color-dark);
}
.pm-Doc-menuLink:hover,
.pm-Doc-menuLink:active,
.pm-Doc-menuLink:focus {
  text-decoration: underline;
}
.pm-Doc-menuLink.is-active {
  background-color: var(--color-accent);
  color: var(--color-light-light);
  text-decoration: none;
}
*/
