@import "../site/viewport-breakpoints.css";

.pm-Frontpage {
  width: calc(100vw - 20px);
}

.pm-Frontpage > * + * {
  margin-top: 13px;
}

.pm-Frontpage-grid {
}

.pm-Frontpage-grid > * + * {
  margin-top: 13px;
}

/* preview and gallery */
.pm-Frontpage-gridA {
}

/* aux gallery */
.pm-Frontpage-gridB {
}

.pm-Frontpage-sectionHeader {
}

/* other content */
.pm-Frontpage-gridC {
}
