@import "../site/viewport-breakpoints.css";
/*
@media (--lg-viewport) {
}
*/

.pm-Menu {
  height: 30px;
}
.pm-Menu.pm-Menu {
  margin-top: 0px;
}

.pm-Menu-details {
  background-color: var(--color-light-light);
  display: inline-block;
  position: absolute;
}

.pm-Menu-summary {
  display: inline-block;
  width: auto;
}
.pm-Menu-details[open] .pm-Menu-summary {
  display: block;
}

.pm-Menu-nav {
}

.pm-Menu-navLink {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  text-decoration: none;
  display: block;
}
.pm-Menu-navLink:hover,
.pm-Menu-navLink:active,
.pm-Menu-navLink:focus {
  border-color: currentColor;
  /*
  box-shadow: 0px 2px 5px var(--color-dark);
  */
}
