@import "../site/viewport-breakpoints.css";
.pm-Menu {
  position: relative;
  z-index: 100;
  width: calc(60px + 5em + 8em);
  height: calc(30px + 4px + 1em);
  visibility: hidden;
}
@media (--sm-viewport) {
  .pm-Menu {
    width: calc(60px + 6em);
  }
}

.pm-Menu-labelAux {
}
@media (--sm-viewport) {
  .pm-Menu-labelAux {
    display: none;
  }
}

.pm-Menu-details {
  background-color: var(--color-light-light);
  position: absolute;
  border: 2px solid var(--color-dark);
  visibility: visible;
}
.pm-Menu-details[open] {
  box-shadow: 2px 2px 4px var(--color-dark);
}

.pm-Menu-summary {
  display: inline-block;
  width: auto;
}
.pm-Menu-details[open] .pm-Menu-summary {
  display: block;
}

.pm-Menu-nav {
}

.pm-Menu-navLink {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  text-decoration: none;
  display: block;
  color: var(--color-dark);
}
.pm-Menu-navLink:hover,
.pm-Menu-navLink:active,
.pm-Menu-navLink:focus {
  border-color: currentColor;
  /*
  box-shadow: 0px 2px 5px var(--color-dark);
  */
}
