/* site wide message */
.pm-SiteWideMessage {
  max-width: 40em;
  max-height: 100px;
  overflow: auto;
  border: 1px solid var(--color-accent);
  margin: 1em;
  padding: 10px;
  box-shadow: 3px 3px 0px 0px var(--color-dark);
  background-color: var(--color-light-accent);
}
