.pm-ActivePlayerCount {
  padding-left: 4px;
  min-width: 26px;
}

.pm-ActivePlayerCount-amount {
}
.pm-PuzzleList--inline .pm-ActivePlayerCount-amount {
  font-size: small;
}

.pm-ActivePlayerCount-label {
}
.pm-PuzzleList--inline .pm-ActivePlayerCount-label {
  display: none;
}
