.pm-PuzzleLatency {
  white-space: nowrap;
}

.pm-PuzzleLatency-label {
  line-height: 1;
}

.pm-PuzzleLatency-value {
  line-height: 1;
  vertical-align: middle;
  border-radius: 5px;
  background-color: var(--designtoken-BackgroundColor-light);
  padding: 4px;
}
.pm-PuzzleLatency-value.is-good {
  color: var(--designtoken-TextColor-goodOnLight);
}
.pm-PuzzleLatency-value.is-okay {
  color: var(--designtoken-TextColor-okayOnLight);
}
.pm-PuzzleLatency-value.is-bad {
  color: var(--designtoken-TextColor-badOnLight);
}

.pm-Preview-puzzleView .pm-PuzzleLatency-value {
  background-color: inherit;
}
.pm-Preview-puzzleView .pm-PuzzleLatency-value.is-good {
  color: var(--designtoken-TextColor-goodOnDark);
}
.pm-Preview-puzzleView .pm-PuzzleLatency-value.is-okay {
  color: var(--designtoken-TextColor-okayOnDark);
}
.pm-Preview-puzzleView .pm-PuzzleLatency-value.is-bad {
  color: var(--designtoken-TextColor-badOnDark);
}
