.pm-PuzzleImagePicker {
}

.pm-PuzzleImagePicker-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

  grid-gap: 10px;
  justify-content: center;
}

.pm-PuzzleImagePicker-listItem {
}

.pm-PuzzleImagePicker-activePlayerCount {
  color: var(--color-accent);
  display: block;
  min-height: 1.4em;
  margin-left: 8px;
}
.pm-PuzzleImagePicker-activePlayerCount:empty {
}

.pm-PuzzleImagePicker-puzzleLink {
  border: 3px solid transparent;
  border-radius: 5px;
  display: block;
  color: var(--color-light-light);
  text-decoration: none;
  position: relative;
  background-color: var(--color-primary);
}
.pm-PuzzleImagePicker-puzzleLink:active,
.pm-PuzzleImagePicker-puzzleLink:focus,
.pm-PuzzleImagePicker-puzzleLink:hover {
  box-shadow: 0px 0px 0px 3px var(--color-accent);
}
.pm-PuzzleImagePicker-puzzleLink.isActive {
  background-color: var(--color-accent);
}
.pm-PuzzleImagePicker-puzzleLink.isComplete {
  background-color: var(--color-dark);
}

.pm-PuzzleImagePicker-image {
  object-fit: cover;
  width: 100%;
  display: block;
  border-radius: 3px;
  border: 1px solid var(--color-light);
}

.pm-PuzzleImagePicker-pieceCount {
  background-color: inherit;
  color: inherit;
  padding: 5px;
}

.pm-PuzzleImagePicker-status {
  display: inline-block;
  padding: 5px;
  border-top-left-radius: 5px;
  background-color: inherit;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 1px solid var(--color-light);
  border-top: 1px solid var(--color-light);
  font-size: smaller;
}
.pm-PuzzleImagePicker-status:empty {
  display: none;
}

.pm-PuzzleImagePicker-timeSince {
  font-size: smaller;
}
.pm-PuzzleImagePicker-timeSinceLabel {
  opacity: 0.6;
}
.pm-PuzzleImagePicker-timeSinceAmount {
}

.pm-PuzzleImagePicker-infoMessage {
  font-size: smaller;
}
