@import "../site/viewport-breakpoints.css";

.pm-Preview {
}

.pm-Preview-attribution {
  margin-left: calc(1px + 13px);
  padding-left: 13px;
  padding-right: 13px;
}

.pm-Preview-statusNote {
  margin-left: calc(1px + 13px);
  padding-left: 13px;
  padding-right: 13px;
}

.pm-Preview-source {
  display: block;
  margin-bottom: calc(-13px + 0.15em);
  margin-left: calc(13px + 1px + 13px);
  max-width: calc(100vmin - 50px);
}

.pm-Preview-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 13px;
  padding: 13px;
  overflow: hidden;
}

.pm-Preview-grid > * + * {
  margin-top: 13px;
}

.pm-Preview-gridA {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
@media (--lg-viewport) {
  .pm-Preview-gridA {
    flex-direction: row;
  }
}

.pm-Preview-img {
  display: inline-block;
  transition: transform 300ms;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 7px;
  max-width: 100%;
  height: auto;
}

a:focus img.pm-Preview-img,
a:hover img.pm-Preview-img,
a:active img.pm-Preview-img {
  transform: scale(1.06);
}

.pm-Preview-description {
  align-self: flex-end;
  margin: 13px 0 0 0;
  width: 100%;
  max-width: calc(100vmin - 40px);
}

.pm-Preview-gridB {
  align-self: stretch;
}

.pm-Preview-pieceInfo {
  display: flex;
  flex: none;
  justify-content: space-between;
  overflow: hidden;
}

.pm-Preview-pieceCount {
  font-size: 1.3em;
}
