@import "../site/viewport-breakpoints.css";

.pm-Preview {
}
@media (min-width: 760px) {
  .pm-Preview {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.pm-Preview-puzzle {
}
@media (min-width: 760px) {
  .pm-Preview-puzzle {
    flex: 1 1 500px;
    max-width: 600px;
    order: 2;
  }
}
.pm-Preview-puzzle > * + * {
  margin-top: 20px;
}

.pm-Preview-puzzleHeader {
}

.pm-Preview-cta {
  text-align: center;
}

.pm-Preview-puzzleViewToggleLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.pm-Preview-puzzleViewToggleLabel + .pm-Preview-puzzleViewToggleLabel {
  margin-left: 20px;
}
.pm-Preview-puzzleViewToggleLabel > * + * {
  padding-left: 5px;
}

.pm-Preview-puzzleView {
  text-decoration: none;
  max-width: 384px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.pm-Preview-cta ~ .pm-Preview-puzzleView {
  margin-top: 0;
}

.pm-Preview-puzzleViewToggle:checked + .pm-Preview-puzzleView {
  display: block;
}
.pm-Preview-puzzleView--scale0 {
}

.pm-Preview-puzzleViewToggle {
  display: none;
}
.pm-Preview-puzzleViewIcon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: var(--designtoken-BackgroundColor-dark--dark);
  color: var(--designtoken-TextColor-onDark);
  border-radius: 50%;
  border: 2px solid var(--designtoken-TextColor-onDark--medium);
}

.pm-Preview-img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: var(--designtoken-BackgroundColor-dark);
  padding: 2px;
}

.pm-Preview-source {
}

.pm-Preview-attribution {
}

.pm-Preview-description {
}

.pm-Preview-actions {
}
.pm-Preview-actionsRow {
}

.pm-Preview-statusNote {
}

.pm-Preview-players {
}
@media (min-width: 760px) {
  .pm-Preview-players {
    order: 1;
    flex: 1 1 400px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid var(--designtoken-TextColor-onSurface--medium);
    text-align: right;
  }
}
