{% extends 'admin-site.html' %}

{% block body %}
<div class="pm-AdminBase">
  <header>
    {% block header %}
      {% include 'admin-header.html' %}
    {% endblock %}
  </header>

  <main class="pm-AdminBase-main" role="main">
    {% block main %}
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
      {% include 'admin-footer.html' %}
    {% endblock %}
  </footer>
</div>
{% endblock %}
