{% extends 'admin-base.html' %}
{% from 'montage.html' import montage %}

{% block title %}
 | Puzzle Management
{%- endblock %}

{% block description %}
  Puzzle management
{% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='adminpuzzlepage.css') }}">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('send_theme_file', filename='adminpuzzlepage.bundle.js') }}"></script>
{% endblock %}

{% block main %}

<section>
  <h1>
    <a href="/chill{{ url_for('.page_uri', uri='admin/puzzle') }}">
      Puzzle Management
    </a>
  </h1>

  {# info on all admin/puzzle/* pages #}
  {{admin_puzzle_menu}}
  <div class="pma-PuzzleActions">
    {% set count_all = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', 1) | sum(attribute='total') + admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', 2) | sum(attribute='total') %}

    {% set count_completed = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', 3) | sum(attribute='total') %}

    {% set count_submitted = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', 0) | sum(attribute='total') %}

    {% set count_suggested = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', -20) | sum(attribute='total') %}

    {% set count_rejected = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', -1) | sum(attribute='total') + admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', -2) | sum(attribute='total') %}

    {% set count_render_queue = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', -5) | sum(attribute='total') %}
    {% set count_rendering = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', -6) | sum(attribute='total') %}
    {% set count_render_fail = admin_puzzle_menu.puzzle_status_count | selectattr('status', 'equalto', -7) | sum(attribute='total') %}

    <h2>Actions</h2>
    <nav class="pma-PuzzleActions-nav">
      <a href="/chill{{ url_for('.page_uri', uri='admin/puzzle/all') }}">
      All {{count_all}}
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='admin/puzzle/completed') }}">
      Completed {{count_completed}}
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='admin/puzzle/submitted') }}">
        Submitted {{count_submitted}}
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='admin/puzzle/suggested') }}">
        Suggested {{count_suggested}}
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='admin/puzzle/rejected') }}">
        Rejected {{count_rejected}}
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='admin/puzzle/renderqueue') }}">
        {% if count_render_queue > 0 %}
        Render Queue
        {{count_render_queue}}
        {% endif %}
        {% if count_rendering > 0 %}
        Rendering
        {{count_rendering}}
        {% endif %}
        {% if count_render_fail > 0 %}
        failed:
        {{count_render_fail}}
        {% endif %}
      </a>

      <a href="/newapi/admin/puzzle/render/">
        Render
      </a>
      {#
      <a href="admin/puzzle/random/">
      auto generated
      </a>
      <a href="admin/puzzle/untagged/">
      not tagged
      </a>
      #}
    </nav>

    <form class="pma-PuzzleActions-form" action="/chill{{ url_for('.page_uri', uri='admin/puzzle/puzzle_id') }}" method="GET">
    <label for="puzzle_id">Puzzle ID</label>
    <input id="puzzle_id" name="puzzle_id" placeholder="5720f1ee3a100" type="text">
    </form>
  </div>


    {# if it's a page that lists a bunch of puzzles #}
    {% if puzzles %}
    {#
      TODO: javascript to select all and unselect all
      TODO: javascript to hide tag text input if tag action not selected
      TODO: javascript to hide reject reason input if reject action not selected
      TODO: javascript to hide delete reason input if delete action not selected
    #}
    <form action="/newapi/admin/puzzle/batch-edit/" method="POST">
      <div>
      <label>
        <input type="radio" name="action" value="approve">
        Approve
      </label>
      </div>

      <div>
      <label>
        <input type="radio" name="action" value="reject">
        Reject
      </label>

        Reject Reason
      <label>
        Failed License
        <input type="radio" name="reject" value="license">
      </label>
      <label>
        No Attribution
        <input type="radio" name="reject" value="attribution">
      </label>

      </div>

      <div>
      <label>
        <input type="radio" name="action" value="delete">
        Delete
      </label>

        Delete Reason
      <label>
        License
        <input type="radio" name="delete" value="license">
      </label>
      <label>
        Inappropiate
        <input type="radio" name="delete" value="inapt">
      </label>
      <label>
        Old
        <input type="radio" name="delete" value="old">
      </label>
      <label>
        Request
        <input type="radio" name="delete" value="request">
      </label>

      </div>

      <div>
      <label>
        <input type="radio" name="action" value="tag">
        Tag
      </label>
      </div>

      <div>
        <label>
          Tag
          <input type="text" name="tag">
        </label>
      </div>

      <input type="reset">
      <input type="submit" value="Batch Edit">
      {% if puzzles is mapping -%}
        {% set puzzles = [puzzles] %}
      {%- endif %}

        {{ montage(puzzles) }}

    </form>
    {% endif %}


<!--

admin_puzzle_[submitted, untagged, random, suggested, details]_page
  admin_puzzle_menu
    puzzle_count_all
    puzzle_count_complete
    puzzle_count_needs_moderation
    puzzle_count_rejected
    ...

  puzzles - set to all, untagged, etc.

  batch-actions
    approve
    reject
    delete
    tag

  detail
    actions
      delete
      tag
      sponsor
      copy
    info
      copies (private instances)
      sponsors
      pieces (24, 500, 1500)

routes
  /admin/puzzle/

  /admin/puzzle/all/
  /admin/puzzle/submitted/
  /admin/puzzle/untagged/
  /admin/puzzle/random/
  /admin/puzzle/suggested/

  /admin/puzzle/details/puzzle_id


--------


info:
  count of puzzles
  for each filter button show how many puzzles are in each.

filter buttons:
  all new puzzles to be moderated and created
    action: moderate new; one click approve and render
      only for batch of unmoderated

  auto created from random photos
    show as montage grid
    able to select multiple in order to do actions

  goto puzzle with id
    for editing a single puzzle details

  all puzzles
    show as montage grid
    able to select multiple in order to do actions

  not tagged
    show as montage grid
    able to select multiple in order to do actions

  sponsored

actions on batch:
  delete
  tagging


actions on single:
  edit details on a puzzle

new features:
  tagging
  sponsored details
  copy for a private instance
    add list of players that have access

-->

</section>

{% endblock %}
