{% extends 'admin-base.html.jinja2' %}

{% block title %}
 | Player Management
{%- endblock %}

{% block description %}
  Player management
{% endblock %}

{% block main %}

<section>
  <h1>
      Players
  </h1>


  {# /admin/player/page/<int:page>/email/<email>/ #}
  <form method="GET" action="/chill{{ url_for('.page_uri', uri='admin/player')}}" x-ref="playerFilterForm" x-data="{playerIdBase10: '{{ request.args.player_id or '' }}', playerIdBase36:''}"
  {% if request.args.player_id -%}
  x-init="playerIdBase36 = parseInt('{{ request.args.player_id or '' }}', 10).toString(36)"
  {%- endif -%}
  >
    <div>
    <label>
      page
      <input autocomplete="off" min="0" size="3" type="number" name="page" value="{{ request.args.page or '0' }}">
    </label>
    </div>
    <div>
    <label>
      Player Id (base36)
      <input autocomplete="off" type="text" size="5" placeholder="co"
        x-model="playerIdBase36"
        x-on:input="playerIdBase36 !== '' ? playerIdBase10 = parseInt(playerIdBase36, 36) : playerIdBase10 = ''"
      >
    </label>
    <label>
      Player Id (decimal)
      <input autocomplete="off" size="10" type="text" name="player_id" placeholder="456" value="{{ request.args.player_id or '' }}"
        x-model="playerIdBase10"
        x-on:input="playerIdBase10 !== '' ? playerIdBase36 = parseInt(playerIdBase10, 10).toString(36) : playerIdBase36 = ''"
      >
    </label>
    <label>
      e-mail
      <input autocomplete="off" type="text" name="email" placeholder="wildcards-%-and-_@example.com" value="{{ request.args.email or '' }}">
    </label>
    <label>
      Player Name
      <input autocomplete="off" type="text" name="player_name" placeholder="wildcards-%-and-_" value="{{ request.args.player_name or '' }}">
    </label>
    <label>
      Player Bit
      <input autocomplete="off" type="text" name="player_bit" placeholder="wildcards-%-and-_" value="{{ request.args.player_bit or '' }}">
    </label>
    {# TODO
      The bannedusers, blockedplayers, and blocked_ip data is only in the redis
      database. To make chill be able to use this data will require it to be
      copied over to a table in the sqlite database.

      A more ideal solution would be to have chill be able to make a http
      request to an endpoint that would return a json response.
    #}
    {#
    </div>
    <div>
      <label>
        Banned Temporary
        <input type="checkbox" name="bannedusers">
      </label>
      <label>
        Blocked Temporary
        <input type="checkbox" name="blockedplayers">
      </label>
      <label>
        Blocked IP Address
        <input type="checkbox" name="blocked_ip">
      </label>
    #}
    </div>
    <div>
    <input type="submit" value="filter">
    </div>
  </form>

  {% if players %}
  <table style="width: 100%">
    <thead>
    <tr>
      <td>action</td>
      <th>id</th>
      <th>player bit</th>
      <th>player name</th>
      <th>email verified</th>
      <th>bit</th>
      <th>days</th>
      <th>dots</th>
      <th>score</th>
      <th>empty slots</th>
      <th>filled slots</th>
    </tr>
    </thead>
    <tbody>

      {% if players is mapping -%}
        {% set players = [players] %}
      {%- endif %}
    {% for player in players %}
    <tr>
      <td><a href="/chill{{ url_for('.page_uri', uri='admin/player/details/{}'.format(player.id)) }}">edit</a></td>
      <td>{{ player.id }}</td>
      <td>
        <pm-player-bit player="{{ player.id }}"></pm-player-bit>
      </td>
      <td>{% if player.display_name %}
        <strong><small>{{ player.approved }}</small></strong>
        {{ player.display_name }}
        {% endif %}</td>
      <td>{% if player.email_verified %}Y{% endif %}</td>
      <td>
        {% if player.icon %}
        <img width="16" height="16" src="{{ url_for('send_media_file', filename='bit-icons/64-{}.png'.format(player.icon or 'unknown-bit')) }}" alt="{{player.icon}}">
        {{ player.icon }}
        {% if player.bit_expired %}<em>expired</em>{% endif %}
        {% endif %}
      </td>
      <td>
        {{ (player.seconds_from_now / (60 * 60 * 24))|round(0, 'floor')|int }}
      </td>
      <td>{{ player.dots }}</td>
      <td>{{ player.score }}</td>
      <td>{{ player.empty_slots_count }}</td>
      <td>{{ player.filled_slots_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}


</section>

{% endblock %}
