<div>
<p>
<small>
Logout of admin site doesn't work right since browsers hold onto the Auth basic header. Best to close the browser and end the session in order to logout of admin site.
<br>
<a href="/admin-logout/">Logout of admin site</a>
</small>
</div>
