{% if attribution.license_name == 'unsplash' -%}
<a href="{{ attribution.source|safe }}">{{ attribution.title }}</a>
by
<a xmlns:cc="http://creativecommons.org/ns#" href="{{ attribution.author_link|safe }}" property="cc:attributionName" rel="cc:attributionURL">{{ attribution.author_name }}</a>
on
<a href="{{ attribution.license_source|safe }}">{{ attribution.license_title }}</a>

{%- else -%}

{#
https://creativecommons.org/choose/#metadata
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
  <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
</a>
<br />
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">
  beside the boardwalk
</span>
by
<a xmlns:cc="http://creativecommons.org/ns#" href="http://weboftomorrow.com" property="cc:attributionName" rel="cc:attributionURL">
  Jake
</a>
is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
#}

{%- endif %}
