{% from 'credit-bit-icons-for-artist.html.jinja2' import creditlist %}
{% extends 'base.html.jinja2' %}
{%- set _pagetitle = '{} | Bit Icons Artist'.format(artist.name) -%}

{% block secondarymenu -%}
<a class="Button Button--plain" href="/d/credits/">Credits</a>
{%- endblock %}

{% block main %}
<section  class="pm-Doc">

{{ artist.artist_document|readfile|safe|shortcodes }}

{% if bit_icons %}
{{ creditlist(bit_icons) }}
{% endif %}

</section>
{% endblock %}
