{% extends 'base.html' %}

{% block title %}
| Claim Player
{%- endblock %}

{% block description %}
  For players following a claim player by token link in their e-mail.  This is used for switching a player from a shareduser to a user account.  It is also for verifying an e-mail address for that player.
{% endblock %}

{% block main %}
<section  class="pm-Doc">
  <h1>Claim Player by Token</h1>

  {% if not token %}
  <p>This token is no longer valid.</p>
  {% else %}

  <span class="u-marginTopSm u-marginBottomSm u-block">
    <pm-profile-bit media-path="{{ url_for('send_media_file', filename='') }}" score dots name player-profile-url="/chill{{ url_for('.page_uri', uri='player') }}"></pm-profile-bit>
  </span>

  <p>Click the button below to verify your e-mail address with this player account.</p>
  <pm-claim-player-by-token token="{{ token }}"></pm-claim-player-by-token>

  {% endif %}

</section>
{% endblock %}
