{% from 'credit-bit-icons-for-artist.html.jinja2' import creditlist %}
{% set list = [
'animal-alligator',
'animal-ant',
'animal-bat',
'animal-bear',
'animal-bee',
'animal-bird',
'animal-bull',
'animal-bulldog',
'animal-butterfly',
'animal-cat',
'animal-chicken',
'animal-cow',
'animal-crab',
'animal-crocodile',
'animal-deer',
'animal-dog',
'animal-donkey',
'animal-duck',
'animal-eagle',
'animal-elephant',
'animal-fish',
'animal-fox',
'animal-frog',
'animal-giraffe',
'animal-gorilla',
'animal-hippo',
'animal-horse',
'animal-insect',
'animal-lion',
'animal-monkey',
'animal-moose',
'animal-mouse',
'animal-owl',
'animal-panda',
'animal-penguin',
'animal-pig',
'animal-rabbit',
'animal-rhino',
'animal-rooster',
'animal-shark',
'animal-sheep',
'animal-snake',
'animal-tiger',
'animal-turkey',
'animal-turtle',
'animal-wolf',
'character-Alien',
'character-Angel',
'character-Baby',
'character-Boxer',
'character-Chef',
'character-Clown',
'character-Dad',
'character-Devil',
'character-Doctor',
'character-Dragon',
'character-Firefighter',
'character-Ghost',
'character-Girl',
'character-Kid',
'character-King',
'character-Knight',
'character-Lawyer',
'character-Leprechaun',
'character-Man',
'character-Mermaid',
'character-Monster',
'character-Ninja',
'character-Nurse',
'character-Pirate',
'character-Policeman',
'character-Prince',
'character-Princess',
'character-Queen',
'character-Robot',
'character-Santa',
'character-Snowman',
'character-Superhero',
'character-Teacher',
'character-Troll',
'character-Vampire',
'character-Werewolf',
'character-Witch',
'character-Zombie',
'food-apple',
'food-apricot',
'food-banana',
'food-cake',
'food-candy',
'food-cheese',
'food-cherry',
'food-chocolate',
'food-coffee',
'food-cookie',
'food-corn',
'food-egg',
'food-grapes',
'food-hamburger',
'food-ice-cream',
'food-orange',
'food-pie',
'food-pizza',
'food-pop-corn',
'food-raspberry',
'food-soda',
'food-strawberry',
'food-tomato',
'food-watermelon',
'sports-Badminton',
'sports-Ballet',
'sports-Baseball',
'sports-Basketball',
'sports-Bowling',
'sports-Boxing',
'sports-Cricket',
'sports-Curling',
'sports-Cycling',
'sports-Golf',
'sports-Hockey',
'sports-Pool',
'sports-Racing',
'sports-Rugby',
'sports-Sailing',
'sports-Skating',
'sports-Skiing',
'sports-Soccer',
'sports-Squash',
'sports-Surfing',
'sports-Tennis',
'sports-Volleyball',
'sports-Wrestling',
'unknown-bit',
'vehicle-airplane',
'vehicle-ambulance',
'vehicle-balloon',
'vehicle-bicycle',
'vehicle-boat',
'vehicle-bus',
'vehicle-canoe',
'vehicle-car',
'vehicle-firetruck',
'vehicle-helicopter',
'vehicle-motorcycle',
'vehicle-police',
'vehicle-rocket',
'vehicle-scooter',
'vehicle-skateboard',
'vehicle-snowmobile',
'vehicle-submarine',
'vehicle-subway',
'vehicle-tank',
'vehicle-taxi',
'vehicle-train',
'vehicle-truck',
'vehicle-unicycle',
'vehicle-van',
'vehicle-zeppelin',
] %}

{{ creditlist(list) }}
