{% from 'credit-bit-icons-for-artist.html.jinja2' import creditlist %}
{% set list = [
'mackenzie-BlackBear',
'mackenzie-BrownBear',
'mackenzie-Cloud_Happy',
'mackenzie-Cloud_Mad',
'mackenzie-Cloud_Sad',
'mackenzie-Dolphin_Blue',
'mackenzie-Dolphin_Purple',
'mackenzie-Elephant',
'mackenzie-EvilGnome',
'mackenzie-FuzzyMonster_Blue',
'mackenzie-FuzzyMonster_Green',
'mackenzie-FuzzyMonster_Pink',
'mackenzie-FuzzyMonster_Purple',
'mackenzie-Giraffe',
'mackenzie-Horse_Black',
'mackenzie-Horse_BlackPinto',
'mackenzie-Horse_Brown',
'mackenzie-Horse_BrownPinto',
'mackenzie-Horse_Tan',
'mackenzie-Horse_White',
'mackenzie-Kitty',
'mackenzie-Koala',
'mackenzie-Panda',
'mackenzie-Paper_Airplane',
'mackenzie-Pig',
'mackenzie-PolarBear',
'mackenzie-Seahorse_Blue',
'mackenzie-Seahorse_Green',
'mackenzie-Seahorse_Red',
'mackenzie-Starfish_Blue',
'mackenzie-Starfish_Green',
'mackenzie-Starfish_Pink',
'mackenzie-Starfish_Purple',
'mackenzie-SunFlower',
'mackenzie-Sun_Cool',
'mackenzie-Sun_Happy',
'mackenzie-TeddyBear',
'mackenzie-Toucan',
'mackenzie-Walrus',
'mackenzie-smudge',
'mackenzie-vampy',
'mackenzie-werewolf',
] %}

{{ creditlist(list) }}
