{% macro creditlist(list) %}
<span class="u-block">
  <strong>Icon Count:</strong>
  {{ list | length }}
</span>
<span class="u-block">
  <strong>Icons used:</strong>
  <small>
    {% for item in list %}
    <a href="{{ url_for('send_media_file', filename='bit-icons/64-{}.png'.format(item.name or 'unknown-bit')) }}">{{ item.name }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
  </small>
</span>
{% endmacro %}
