<div class="pm-Footer">
  <div class="pm-Footer-grid">
    <div class="pm-Footer-gridA">
      {% from './logo.html.jinja2' import logo %}{% if title and title == "About" %}{{ logo('footer-about') }}
      <div class="pm-Logo-eggShell">
        <a class="pm-Logo-eggLink" href="http://puzzle.massive.xyz/chill/site/front/5512016996c09/" title="Polar Bear in a Snowstorm"></a>
        <svg class="pm-Logo-egg" width="100%" height="100%" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><use xlink:href="{{ url_for('send_theme_file', filename='puzzle-massive-logo.svg') }}#egg"/></svg>
      </div>{% else %}{{ logo('footer') }}{% endif %}
      <p class="pm-Footer-summary">
        Massively Multiplayer Online Jigsaw Puzzles
      </p>
    </div>

    <div class="pm-Footer-gridB">
      <nav class="pm-Footer-nav">

        {#- Insert site specific footer-nav links. -#}
        {{ '[chill route /internal/footer-nav/]'|shortcodes }}
        {#- A 404 error HTML comment is inserted here if this route is not defined. -#}

      <a href="/">
        Recent Puzzle
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='puzzle-list') }}">
        Search For Puzzles
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='high-scores') }}">
        High Scores
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='new-puzzle/submit') }}">
        Suggest Puzzle
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='player') }}">
        Your Player Profile
      </a>
      </nav>
      <div class="pm-Footer-socialLinks">
        <a href="https://discord.gg/uVhE2Kd" class="Button Button--plain">
          <img src="{{ url_for('send_media_file', filename='discordwhite.svg') }}" width="94" height="32" alt="Discord logo">
          <span>
          Join the Discord chat server
          </span>
        </a>
        <a href="{{ config.PACKAGEJSON.homepage }}" class="Button Button--plain">
          <img src="{{ url_for('send_media_file', filename='GitHub-Mark-Light-120px-plus.png') }}" alt="GitHub Mark" width="32" height="32">
          <span>
          Fork the project on GitHub
          </span>
        </a>
      </div>


      <p class="pm-Footer-copyright">
        Copyright 2011 - 2021,
        <span class="u-textNoWrap">{{ config.PACKAGEJSON.author }}</span>
        <br>
        Licensed under the
        <a href="https://github.com/jkenlooper/puzzle-massive/blob/master/LICENSE">GNU Affero General Public License v3.0</a>
      </p>

      {#
      The site isn't using Google Analytics and other third party tracking code.
      Otherwise would need to show a message to the visitor stating that in
      order to comply with GDPR requirements (as far as I understand them).
      -#}
      <p>This site uses cookies for player logins.  Your information is not shared with third parties.</p>
    </div>
    {% if page and page.description == " Massively Multiplayer Online Jigsaw Puzzles" %}{{ config.M3|safe }}{% endif %}{# reality check #}
    <div class="pm-Footer-gridC">
      <p class="u-textRight">
        {#- Show a link to this site's source code in order to comply with the GNU Affero General Public License. -#}
        {% if config.SITE_TITLE != 'Puzzle Massive' or config.SOURCE_CODE_LINK != 'https://github.com/jkenlooper/puzzle-massive/' %}
          <a class="u-block" href="{{ config.SOURCE_CODE_LINK }}">Source code for <strong>{{ config.SITE_TITLE }}</strong></a>
          <span class="u-block">
           which is forked from Puzzle Massive.
          </span>
        {%- else -%}
          <span class="u-block">
          <strong>Puzzle Massive</strong> is an open source project.
          </span>
        {% endif %}
          <span class="u-block">Version: {{ config.VERSION }}</span>
        {#- The 'puzzle-massive' link here should always be to the Puzzle
        Massive source code, but show this site's version from the package.json.
        -#}
        <a href="https://github.com/jkenlooper/puzzle-massive/">
          puzzle-massive
        </a>
        <em class="u-block"><small>
        Massive assembly required.
        <!-- Because "some assembly required" would be an understatement. -->
        </small></em>
      </p>
    </div>
  </div>
</div>
