<div class="pm-Frontpage">
  <div class="pm-Frontpage-grid">
    {% if puzzle_id.puzzle_id %}
    {# Only if there is a puzzle to show #}
    <div class="pm-Frontpage-gridA">
    {{ preview|shortcodes }}
    </div>
    {% endif %}
    <section class="pm-Frontpage-gridB">
      <h2 class="pm-Frontpage-sectionHeader">Recently active jigsaw puzzles</h2>
      <pm-gallery variant="card" skip="{{ puzzle_id.puzzle_id }}" front-fragment-href="/chill{{ url_for('.page_uri', uri='front') }}" puzzle-piece-groups="{{ config.PUZZLE_PIECE_GROUPS|join(' ') }}"></pm-gallery>
    </section>
    <div class="pm-Frontpage-gridC">
      {# Should there be content here?
      {{ content|readfile|safe }}
      #}
    </div>
  </div>
</div>
