{% extends 'base.html' %}
{% set ngModule = 'frontpage' %}


{# Puzzle status constants #}
{# puzzle is shown on front page if public (points distributed) #}
{% set ACTIVE           = 1   %}

{# in the queue of puzzles ready to be assembled (no points) only applies to public #}
{% set IN_QUEUE         = 2   %}

{# puzzle has been assembled #}
{% set COMPLETED        = 3   %}

{# all piece movements are frozen. This can be set by the owner if private. options for a schedule or manaul triggering. #}
{% set FROZEN           = 4   %}

{# puzzle image has just been uploaded and has yet to be seen #}
{% set NEEDS_MODERATION = 0   %}

{# image fails to show copyright information #}
{% set FAILED_LICENSE   = -1  %}

{# image doesn't show original author #}
{% set NO_ATTRIBUTION   = -2  %}

{# puzzle image has been accepted and is now in render queue #}
{% set IN_RENDER_QUEUE  = -5  %}

{# puzzle is currently being rendered #}
{% set RENDERING        = -6  %}

{# permission to use image does not comply #}
{% set DELETED_LICENSE  = -10 %}

{# inappropiate image for puzzle due to content of image #}
{% set DELETED_INAPT    = -11 %}

{# out with the old #}
{% set DELETED_OLD      = -12 %}

{# deleted on request from the owner. Can be deleted automatically after completion or date or? #}
{% set DELETED_REQUEST  = -13 %}


{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='frontpage.css') }}">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('send_theme_file', filename='frontpage.bundle.js') }}"></script>
{% endblock %}

{% block description %}
{% if page.info.pieces %}
Preview of jigsaw puzzle with {{ page.info.pieces }} unique interlocking puzzle pieces.  This puzzle can be assembled by anyone and piece movements are shown in real time. The most recent players to move pieces on this puzzle are displayed.
{% else %}
Jigsaw puzzle not available.
{% endif %}
{{ page.info.description }}
{% endblock %}

{% block title %}
{%- if page.info.puzzle_id %} | {% if page.info.pieces %}{{ page.info.pieces }} Piece{% endif %} Jigsaw Puzzle {% if page.info.status in (ACTIVE, IN_QUEUE) -%}
    Preview
  {% elif page.info.status == COMPLETED -%}
    Completed on {{ page.info.m_date }}
  {% else -%}
    No Longer Available
  {%- endif %}
  {%- endif %}
{%- endblock %}

{# if the puzzle has been deleted the page.info may not be available. #}
{% block ogimage %}
{% if page.info and page.info.url is string and page.info.url %}
{% if page.info.url.startswith('/') %}
<meta property="og:image" content="http://puzzle.massive.xyz{{ page.info.url }}" />
{% else %}
<meta property="og:image" content="{{ page.info.url }}" />
{% endif %}
{% set width = page.info.long if page.info.table_width > page.info.table_height else page.info.short %}
{% set height = page.info.short if page.info.table_width > page.info.table_height else page.info.long %}
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="{{width|int}}" />
<meta property="og:image:height" content="{{height|int}}" />
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block main %}
{% if not page.info.pieces %}
<p>
            This jigsaw puzzle is not available. Please choose a different one.
</p>
{% else %}
{{ '[chill route /api/front/{}/ ]'.format(page.info.puzzle_id)|shortcodes }}

{% endif %}
{% endblock %}

