<div id="header" class="pm-Header">
<div class="pm-Header-content">
  <div class="pm-Header-profile">
      <pm-profile-bit media-path="{{ url_for('send_media_file', filename='') }}" player-profile-url="/chill{{ url_for('.page_uri', uri='player') }}"></pm-profile-bit>
  </div>

  <div class="pm-Header-logo">
    {% from './logo.html.jinja2' import logo %}{{ logo('header') }}
  </div>

  <div class="pm-Header-main">

      <pm-player-puzzle-instance-list class="u-block" player-puzzle-list-href="/chill{{ url_for('.page_uri', uri='player-puzzle-list') }}"></pm-player-puzzle-instance-list>
  </div>

</div>
</div>
