{% if value %}
{% if value is mapping -%}
  {% set value = [value] %}
{%- endif %}
<div class="pm-HighScores">
  <h2>High Scores</h2>
  <div class="pm-HighScores-list" role="list">
    {% for item in value %}
      <div class="pm-HighScores-listitem">
        <img class="pm-HighScores-img" width="64" height="64" src="{{ url_for('send_media_file', filename='bit-icons/64-{}.png'.format(item.icon or 'unknown-bit')) }}" alt="{{item.icon}}">
        <strong class="pm-HighScores-score">{{item.score}}</strong>
      </div>
    {% endfor %}
  </div>
</div>
{%- endif %}
