<div class="pm-Menu">
  <details class="pm-Menu-details">
    <summary class="pm-Menu-summary"><pm-icon>menu</pm-icon> <span class="pm-Menu-labelAux">Menu</span></summary>
    <nav class="pm-Menu-nav">
      <a href="/" class="pm-Menu-navLink">
        <pm-icon>solution</pm-icon>
        Recent<span class="pm-Menu-labelAux"> Puzzle</span>
      </a>
      <a href="/chill{{ url_for('.page_uri', uri='puzzle-list') }}" class="pm-Menu-navLink">
        <pm-icon>search-images</pm-icon>
        Search<span class="pm-Menu-labelAux"> For Puzzles</span>
      </a>

      <a href="/chill{{ url_for('.page_uri', uri='high-scores') }}" class="pm-Menu-navLink">
        <pm-icon>competition</pm-icon>
        <span class="pm-Menu-labelAux">High </span>Scores
      </a>
      {#
      <a href="">
        Competitions
      </a>
      #}
      <a href="/chill{{ url_for('.page_uri', uri='new-puzzle/submit') }}" class="pm-Menu-navLink">
        <pm-icon>new-image</pm-icon>
        Suggest<span class="pm-Menu-labelAux"> Puzzle</span>
      </a>
      <a href="/d/help/" class="pm-Menu-navLink">
        <pm-icon>help</pm-icon>
        Help
      </a>

      <a href="/chill{{ url_for('.page_uri', uri='player') }}" class="pm-Menu-navLink">
        <pm-icon>happy-lock</pm-icon>
        <span class="pm-Menu-labelAux">Your Player </span>Profile
      </a>

    </nav>
  </details>
</div>
