{% from 'menu-nav-link.html.jinja2' import nav_link %}
{% macro menu() %}
<div class="pm-Menu">
  <details class="pm-Menu-details">
    <summary class="pm-Menu-summary"><pm-icon>menu</pm-icon> <span class="pm-Menu-labelAux">Menu</span></summary>
    <nav class="pm-Menu-nav">
    {{ nav_link('/', 'Recent', label_aux='Puzzle', icon='solution') }}
    {{ nav_link("/chill" + url_for('.page_uri', uri='puzzle-list'), 'Search', label_aux='For Puzzles', icon='search-images') }}
    {{ nav_link("/chill" + url_for('.page_uri', uri='high-scores'), 'High Scores', icon='competition') }}
    {{ nav_link("/chill" + url_for('.page_uri', uri='new-puzzle/submit'), 'Suggest Puzzle', label_aux='', icon='new-image') }}

    {#- Insert site specific menu links. -#}
    {{ '[chill route /internal/extra-menu-items/]'|shortcodes }}
    {#- A 404 error HTML comment is inserted here if this route is not defined. -#}

    {{ nav_link("/chill" + url_for('.page_uri', uri='player'), 'Player Profile', label_aux='', icon='happy-lock') }}
    </nav>
  </details>
</div>
{%- endmacro %}
