<meta charset="utf-8">
{#- https://moz.com/learn/seo/title-tag
Title tag optimal format.
"Unique Page Title With Good Keywords | Site Title"
Title tag optimal length is around 60 characters.
#}
<title>
  {%- if _pagetitle %}{{ _pagetitle }} |
  {%- else %}{% block title %}{% endblock %} | {% endif -%}
  {{ 'sitetitle.txt'|readfile|trim -}}
</title>
{% if _description -%}
<meta name="description" content="{% block description %}{{ _description }}{% endblock %}">
{%- endif -%}

{#- https://developers.facebook.com/docs/sharing/webmasters#markup -#}
<meta property="og:type" content="website" /><meta property="og:site_name" content="{{ 'sitetitle.txt'|readfile|trim }}" />
{%- if _pagetitle %}
{#- og:title The title of your article without any branding such as your site name. -#}
<meta property="og:title" content="{{ _pagetitle }}" />
{%- endif %}
{%- if _description %}
{#- og:description A brief description of the content, usually between 2 and 4 sentences. This will display below the title of the post on Facebook. -#}
<meta property="og:description" content="{{ _description }}" />
{%- endif %}
{%- if _pageimage %}
{#- og:image The URL of the image that appears when someone shares the content
to Facebook. 1200 x 630 pixels for the best display on high resolution devices.
At the minimum, you should use images that are 600 x 315.
The site.cfg sets the FREEZER_BASE_URL which is used by Frozen-Flask since _external=True. -#}
<meta property="og:image" content="{{ url_for('send_media_file', _external=True, filename=_pageimage) }}" />
{%- endif %}
{#- og:url The canonical URL for your page. This should be the undecorated URL, without session variables, user identifying parameters, or counters. Likes and Shares for this URL will aggregate at this URL. For example, mobile domain URLs should point to the desktop version of the URL as the canonical URL to aggregate Likes and Shares across different versions of the page. -#}
<meta property="og:url" content="{{ _canonical_url }}" />
<link rel="canonical" href="{{ _canonical_url }}" />

{#- TODO: Research twitter sharing meta tags.
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ 'sitetitle.txt'|readfile|trim }}" />
<meta name="twitter:description" content="{{ _description }}" />
<meta name="twitter:image" content="{{ url_for('send_media_file', _external=True, filename=_pageimage) }}" />
-#}

<meta name="viewport" content="width=device-width, initial-scale=1">
