{% macro montage(puzzles) -%}
<div class="pma-Montage">
  <div class="pma-Montage-list" role="list">
    {% for item in puzzles %}
      {% set width = item.long if item.table_width > item.table_height else item.short %}
      {% set height = item.short if item.table_width > item.table_height else item.long %}
      {% set src = item.url %}

      <div class="pma-Montage-listitem" role="listitem">
        <label for="puzzle_id_{{item.puzzle_id}}">
          <img class="lazyload" width="{{width|int}}" height="{{height|int}}" data-src="{{src}}" alt="">
          <input id="puzzle_id_{{item.puzzle_id}}" name="montage_puzzle_id" type="checkbox" value="{{item.puzzle_id}}">
          {{item.pieces}}
        </label>
        <a class="u-textTruncate" href="/chill{{ url_for('.page_uri', uri='admin/puzzle/details/{0}'.format(item.puzzle_id)) }}">
          <small>
          {{item.status}}
          {{item.puzzle_id}}
          </small>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{%- endmacro %}
