{% extends 'base.html' %}

{# Description here is the same for all puzzle pages.  Indexing robots are not meant to index the whole site, just the home page. #}
{% block description -%}
{{ 'sitewide-description.txt'|readfile }}
{%- endblock %}

{% block main %}
<section  class="pm-Doc">

<h1>Puzzle Massive</h1>
<p>
{{ 'sitewide-description.txt'|readfile }}
</p>

<h2>New Players</h2>
<p>
  {{ page.description }}
</p>

{# Only show the relevant information for players that have cookies by reusing pm-dot-require info. #}
<pm-dot-require min="99999" type="info">
  <a class="pm-CtaLink" href="{{ next.next }}">Continue</a>

<p><strong>You are currently represented on Puzzle Massive as:</strong>
  <span class="u-marginTopSm u-marginBottomSm u-block">
    <pm-profile-bit media-path="{{ url_for('send_media_file', filename='') }}" name player-profile-url="/chill{{ url_for('.page_uri', uri='player') }}"></pm-profile-bit>
  </span>
  All <em>new players</em> on the same network share a single login to begin with.
</p>

<hr>

<p>
  Existing players can reset their login link by e-mail:
  <pm-login-by-email></pm-login-by-email>
  <em>Requires the player to register their e-mail with the site first.</em>
</p>
</pm-dot-require>

</section>
{% endblock %}
