{% extends 'base.html' %}

{% block title %}
| {{ page.title }}
{%- endblock %}

{% block main %}
<section  class="pm-Doc">

<h1>Welcome New Player</h1>
<p>Puzzle Massive is a Massively Multiplayer Online Jigsaw Puzzle (MMOJP) where everyone
can work on a puzzle together at the same time.  The puzzles range from 50 to
5000+ pieces and are all uniquely generated in the classic interlocking piece
shapes (for now).</p>

{# Only show the relevant information for players that have cookies by reusing pm-dot-require info. #}
<pm-dot-require min="99999" type="info">
  <a class="pm-CtaLink" href="{{ next.next }}">Continue</a>
</p>

<p><strong>You are currently represented on Puzzle Massive as:</strong>
  <span class="u-marginTopSm u-marginBottomSm u-block">
    <pm-profile-bit media-path="{{ url_for('send_media_file', filename='') }}" name player-profile-url="/chill{{ url_for('.page_uri', uri='player') }}"></pm-profile-bit>
  </span>
  All <em>new players</em> on the same network share a single login to begin with.
</p>

</pm-dot-require>

</section>
{% endblock %}
