{% from 'preview-unknown.html' import preview_unknown %}
{% if recent %}

{# puzzle has been assembled #}
{% set COMPLETED        = 3   %}
{% set DELETED_REQUEST  = -13 %}
{% set FROZEN           = 4   %}

{% set width = recent.long if recent.table_width > recent.table_height else recent.short %}
{% set height = recent.short if recent.table_width > recent.table_height else recent.long %}

<div class="pm-Preview">
  {% if recent.link -%}
  <small class="pm-Preview-source u-textTruncate">
    Picture source:
  <a href="{{recent.link}}" rel="nofollow">
    {{recent.link|replace('http://', '')|replace('https://', '')}}
  </a>
  </small>
  {%- endif %}

      {% if recent.status == COMPLETED and not recent.is_recent -%}
      <pm-dot-require min="{{recent.pieces}}" type="info">
        This puzzle requires more dots in order to rebuild.
      </pm-dot-require>
      {% endif %}

  <a class="pm-Preview-grid" href="/chill{{ url_for('.page_uri', uri='puzzle/{}'.format(recent.puzzle_id), scale=null) }}" title="Join this jigsaw puzzle">
    <div class="pm-Preview-gridA">
      {% if recent.url == '' %}
        {{ preview_unknown(width=width, height=height, class="pm-Preview-img", style="font-size:3em;") }}
      {% else %}
        <img class="pm-Preview-img" width="{{width|int}}" height="{{height|int}}" src="{{recent.url|safe}}" alt="">
      {% endif %}

      <pm-latest-player-list
        media-path="{{ url_for('send_media_file', filename='') }}"
        puzzle-id="{{recent.puzzle_id}}"
        show-time-since="true"
        limit="9"></pm-latest-player-list>

      <p class="pm-Preview-description u-textTruncate">
        <small>
          {{recent.description}}
        </small>
      </p>
    </div>

    <div class="pm-Preview-gridB">
    <div class="pm-Preview-pieceInfo">

      <div class="pm-Preview-pieceOutline">
        <strong class="pm-Preview-pieceCount">{{recent.pieces}}</strong>
        <span>pieces</span>
      </div>

      <pm-latest-player-list
        media-path="{{ url_for('send_media_file', filename='') }}"
        puzzle-id="{{recent.puzzle_id}}"
        offset="9"></pm-latest-player-list>

    </div>
    </div>
  </a>
  {% if recent.attribution %}
  <p class="pm-Preview-attribution">{{ '[chill route /internal/attribution/{}/ ]'.format(recent.attribution) }}</p>
  {% endif %}


  {% if recent.permission == -1 -%}
  <p class="pm-Preview-statusNote">
  This jigsaw puzzle is not publicly listed on the site.
  </p>
  {% endif %}
  {% if recent.status == COMPLETED and recent.is_recent -%}
  <p class="pm-Preview-statusNote">
  This jigsaw puzzle has been recently completed, it can be redone after {{ recent.redo_date }}.
  </p>
  {% endif %}
  {% if recent.status == COMPLETED and not recent.is_recent -%}
  <p class="pm-Preview-statusNote">
  This jigsaw puzzle has been completed.
  </p>
  {% endif %}

  {% if recent.status == DELETED_REQUEST and not recent.is_original  %}
  <p class="pm-Preview-statusNote">
    This puzzle instance has been removed by request of the owner.
  </p>
  {% elif recent.status == FROZEN and not recent.is_original %}
  <p class="pm-Preview-statusNote">
  This puzzle instance is currently frozen by the owner.  Pieces can't be moved
  on the puzzle until the owner unfreezes it.
  </p>
  {% endif %}

  {# TODO: the Create new instance link should only show for a player that has an empty slot. #}
            <pm-dot-require min="3400" type="none">
  <a class="u-block u-textRight" href="/chill{{ url_for('.page_uri', uri='create-puzzle-instance/{}'.format(recent.puzzle_id)) }}">Create New Puzzle Instance</a>
            </pm-dot-require>

  {% if not recent.is_original %}
  <p class="pm-Preview-statusNote">
  Puzzle instance created by
  {{ '[chill route /internal/player-bit/{}/ ]'.format(recent.owner) }}
  from this <a href="/chill{{ url_for('.page_uri', uri='front/{}'.format(recent.original_puzzle_id)) }}">original puzzle</a>
    {% if recent.status != DELETED_REQUEST %}
    <pm-puzzle-instance-actions class="u-block" puzzle-id="{{ recent.puzzle_id }}" owner="{{ recent.owner }}" status="{{ recent.status }}"></pm-puzzle-instance-actions>
    {% endif %}
  </p>
  {% endif %}

</div>
{% endif %}
