{% extends 'base.html' %}
{% set ngModule = 'profilepage' %}

{% block title %}
 | Player Profile
{%- endblock %}

{% block description %}
  Settings for the logged in player on the Puzzle Massive site.
{% endblock %}

{% block main %}
<section  class="pm-Profilepage">
  <h1>Player Profile</h1>
  <div class="u-marginTopMd u-marginBottomMd">
      <pm-profile-bit media-path="{{ url_for('send_media_file', filename='') }}" score dots name player-profile-url="/chill{{ url_for('.page_uri', uri='player') }}"></pm-profile-bit>
      <pm-choose-bit limit="49" message="Change bit icon" media-path="{{ url_for('send_media_file', filename='') }}"></pm-choose-bit>
  </div>

  <div class="u-marginTopMd u-marginBottomMd">
      <h2>Player Name</h2>
      <p>Changing the player name will cost 100 dots.</p>
      <pm-dot-require min="100" type="blur">
        <p>
          The player name is <b>not</b> used when logging into your account
          and can be anything that you would like. Names are limited to 26
          characters and must be unique from other player names.
        </p>
        <pm-player-name-register></pm-player-name-register>
        <p>
          The name will be reviewed within a couple of days after submitting.
          Names that are rejected will be shown as crossed out. Player names are
          cached on the site and may take a while to update.  Thank you for your
          patience.
        </p>
      </pm-dot-require>
  </div>


  <div class="u-marginTopMd u-marginBottomMd">
    <div class="pm-Profilepage-account">
      <h2>Account</h2>
      <div class="pm-Profilepage-accountActions">
        <div class="pm-Profilepage-emailRegister u-marginTopMd u-marginBottomMd">
          <h3>E-mail</h3>
          <p>
          Add your e-mail address for this player in case you lose your login.
          Your information and e-mail address are not shared or displayed
          publicly. This is only used for contacting you about your player
          account on Puzzle Massive.  Future changes (newsletter, notifications,
          etc.) that will use your e-mail to contact you will be in an opt-in
          basis.
          </p>
          <pm-player-email-register>
            {#
            <!-- TODO: only should show if email is registered -->
            <form action="subscribe">
              newsletter
              upcoming competitions
              etc.
            </form>
            #}
          </pm-player-email-register>
        </div>

        <div class="pm-Profilepage-anonymousLogin u-marginTopMd u-marginBottomMd">
          <h3>Anonymous Login</h3>
          <pm-account></pm-account>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
