{% extends 'base.html' %}
{% set ngModule = 'profilepage' %}

{% block title %}
 | Player Profile
{%- endblock %}

{% block description %}
  Settings for the logged in player on the Puzzle Massive site.
{% endblock %}

{% block main %}
<section  class="pm-Profilepage">
  <h1>Player Profile</h1>
  <div class="pm-Profilepage-grid">
    <div class="pm-Profilepage-gridA">
      <h2>Your Current Bit Icon</h2>
      <pm-profile-bit media-path="{{ url_for('send_media_file', filename='') }}" score dots player-profile-url="/chill{{ url_for('.page_uri', uri='player') }}"></pm-profile-bit>
    </div>
    <div class="pm-Profilepage-gridB">
      <pm-choose-bit message="Change bit icon" media-path="{{ url_for('send_media_file', filename='') }}"></pm-choose-bit>
    </div>

    <div class="pm-Profilepage-gridD">
      <pm-account>
        {#
        <form action="register-email">
          <div>
            <label>
              E-Mail
              <input type="text" name="email">
            </label>
          </div>
          <button>Register email</button>
        </form>
        #}

        {#
        <!-- only should show if email is registered -->
        <form action="subscribe">
          newsletter
          upcoming competitions
          etc.
        </form>
        #}
      </pm-account>
    </div>
  </div>



</section>

{% endblock %}
