{% extends 'base.html.jinja2' %}
{% set ngModule = 'puzzlepage' %}

{% set scale = 0 if not args.scale else args.scale|int %}

{# Puzzle status constants #}
{# puzzle is shown on front page if public (points distributed) #}
{% set ACTIVE           = 1   %}

{# in the queue of puzzles ready to be assembled (no points) only applies to public #}
{% set IN_QUEUE         = 2   %}

{# puzzle has been assembled #}
{% set COMPLETED        = 3   %}

{# all piece movements are frozen. This can be set by the owner if private. options for a schedule or manaul triggering. #}
{% set FROZEN           = 4   %}

{# Has issues with data. Not listed anymore, but allow movement. #}
{% set BUGGY_UNLISTED   = 5   %}

{# puzzle image has just been uploaded and has yet to be seen #}
{% set NEEDS_MODERATION = 0   %}

{# image fails to show copyright information #}
{% set FAILED_LICENSE   = -1  %}

{# image doesn't show original author #}
{% set NO_ATTRIBUTION   = -2  %}

{# puzzle has been placed in rebuild queue #}
{% set REBUILD          = -3 %}

{# puzzle image has been accepted and is now in render queue #}
{% set IN_RENDER_QUEUE  = -5  %}

{# puzzle is currently being rendered #}
{% set RENDERING        = -6  %}

{# permission to use image does not comply #}
{% set DELETED_LICENSE  = -10 %}

{# inappropiate image for puzzle due to content of image #}
{% set DELETED_INAPT    = -11 %}

{# out with the old #}
{% set DELETED_OLD      = -12 %}

{# deleted on request from the owner. Can be deleted automatically after completion or date or? #}
{% set DELETED_REQUEST  = -13 %}

{# Puzzle is temporarily in maintenance mode. Usually when running a backup script. #}
{% set MAINTENANCE  = -30 %}

{# Puzzle is visible if the puzzle is active or if the puzzle has recently been complete. #}
{% set isPuzzleVisible = puzzle.status in (ACTIVE, COMPLETED, FROZEN, BUGGY_UNLISTED) and not (puzzle.status == COMPLETED and puzzle.is_recent != 1) %}


{% if scale != 0 and isPuzzleVisible %}
  {% set baseModifier = 'mainFocus' %}
{% endif %}

{%- if page.info.puzzle_id %}
  {% if page.info.pieces and page.info.status == ACTIVE %}
    {%- set _pagetitle = '{} Piece Jigsaw Puzzle'.format(page.info.pieces) -%}
  {% elif page.info.pieces and page.info.status == IN_QUEUE %}
    {%- set _pagetitle = '{} Piece Jigsaw Puzzle In Queue'.format(page.info.pieces) -%}
  {% elif page.info.pieces and page.info.status == COMPLETED %}
    {%- set _pagetitle = '{0} Piece Jigsaw Puzzle Completed On {1}'.format(page.info.pieces, page.info.m_date) -%}
  {% elif page.info.pieces and page.info.status == BUGGY_UNLISTED %}
    {%- set _pagetitle = '{0} Piece J1g5aw Pu221e With Some Errors'.format(page.info.pieces) -%}
  {% elif page.info.pieces and page.info.status == FROZEN %}
    {%- set _pagetitle = '{} Piece Jigsaw Puzzle Is Frozen'.format(page.info.pieces) -%}
  {% elif page.info.status == NEEDS_MODERATION %}
    {%- set _pagetitle = 'Jigsaw Puzzle Image Waiting Moderation' -%}
  {% elif page.info.status in (REBUILD, IN_RENDER_QUEUE) %}
    {%- set _pagetitle = 'Jigsaw Puzzle is Waiting in Render Queue' -%}
  {% elif page.info.status == RENDERING %}
    {%- set _pagetitle = 'Jigsaw Puzzle is Being Rendered' -%}
  {% elif page.info.status == MAINTENANCE %}
    {%- set _pagetitle = 'Jigsaw Puzzle is Temporarily Not Available' -%}
  {% else %}
    {%- set _pagetitle = 'Jigsaw Puzzle Not Available' -%}
  {%- endif %}
{%- endif %}

{% block stylesheet %}
{{ super() }}
{#
<link rel="stylesheet" media="all" href="{{ puzzle_files.url }}">
#}
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}

{# if the puzzle has been deleted the page.info may not be available. #}
{# TODO: og:image not used for puzzle pages anymore.
{% block ogimage %}
{% if puzzle.puzzle_id and preview_full and preview_full.url is string and preview_full.url %}
{% if preview_full.url.startswith('/') %}
<meta property="og:image" content="http://{{ config.DOMAIN_NAME }}{{ preview_full.url }}" />
{% else %}
<meta property="og:image" content="{{ preview_full.url }}" />
{% endif %}
<meta property="og:image:type" content="image/jpeg" />
{% else %}
{{ super() }}
{% endif %}
{% endblock %}
#}



{% set msg = "" %}
{% set title = "" %}

{% if puzzle.status not in (ACTIVE, COMPLETED, FROZEN, BUGGY_UNLISTED) %}
  {% set msg = "This puzzle has some problems." %}
  {% set title = "Problem with puzzle" %}

  {% if puzzle.status == NEEDS_MODERATION %}
    {% set msg = "This puzzle has yet to be moderated.  Check back later." %}
    {% set title = "Needs Moderation" %}
  {% elif puzzle.status == FAILED_LICENSE %}
    {% set msg = "The image for this puzzle failed to show any license information.   like a copyright that would allow usage on this web site." %}
    {% set title = "Failed License" %}
  {% elif puzzle.status == NO_ATTRIBUTION %}
    {% set msg = "The image for this puzzle doesn't show the name of the author. This is required by the license." %}
    {% set title = "No Attribution" %}
  {% elif puzzle.status == REBUILD %}
    {% set msg = "The Puzzle is currently in the rebuild queue and will be rendered soon." %}
    {% set title = "In Rebuild Queue" %}
  {% elif puzzle.status == IN_QUEUE %}
    {% set msg = "This Puzzle is in the queue and is not currently active.  Pieces can only be moved on active puzzles." %}
    {% set title = "Jigsaw Puzzle in Queue" %}
  {% elif puzzle.status == IN_RENDER_QUEUE %}
    {% set msg = "The Puzzle is currently in the render queue.  This may take some time if there are other puzzles being rendered." %}
    {% set title = "In Render Queue" %}
  {% elif puzzle.status == RENDERING %}
    {% set msg = "The Puzzle is rendering." %}
    {% set title = "Rendering" %}
  {% elif page.info.status == MAINTENANCE %}
    {% set msg = "The Jigsaw Puzzle is Temporarily Not Available." %}
    {% set title = "Maintenance" %}
  {% elif puzzle.status == DELETED_LICENSE %}
    {% set msg = "The image for this puzzle has a copyright that doesn't allow usage on this website." %}
    {% set title = "Deleted" %}
  {% elif puzzle.status == DELETED_INAPT %}
    {% set msg = "The image for this puzzle is inappropiate for this website." %}
    {% set title = "Deleted" %}
  {% elif puzzle.status == DELETED_OLD %}
    {% set msg = "This puzzle has been deleted because of inactivity." %}
    {% set title = "Deleted" %}
  {% elif puzzle.status == DELETED_REQUEST %}
    {% set msg = "This puzzle has been removed." %}
    {% set title = "Deleted" %}
  {% endif %}

{% elif puzzle.status == COMPLETED %}
  {% set msg = "This Puzzle has been completed." %}
  {% set title = "Jigsaw Puzzle Completed" %}
{% elif puzzle.status == FROZEN %}
  {% set msg = "This Puzzle is frozen." %}
  {% set title = "Jigsaw Puzzle Frozen" %}
{% elif puzzle.status == BUGGY_UNLISTED %}
  {% set msg = "Sorry, this puzzle may have some issues when moving pieces because of an error.  It is no longer listed on the site, but you may still try to complete it." %}
  {% set title = "Error with Puzzle" %}
{% endif %}

  {% block secondarymenu %}
        <a class="Button" href="/chill{{ url_for('.page_uri', uri='front/{}'.format(puzzle.puzzle_id)) }}">
          <pm-icon size="sm">arrow-left-circle-sprite</pm-icon>
        </a>

        {% if scale == 1 %}
        <a class="Button" href="/chill{{ url_for('.page_uri', uri='puzzle/{puzzle_id}/scale/0'.format(puzzle_id=puzzle.puzzle_id)) }}">
          <pm-icon size="sm">full-screen-sprite</pm-icon>
        </a>
        {% else %}
        <a class="Button" href="/chill{{ url_for('.page_uri', uri='puzzle/{puzzle_id}/scale/1'.format(puzzle_id=puzzle.puzzle_id)) }}">
          <pm-icon size="sm">minimize-sprite</pm-icon>
        </a>
        {% endif %}

        {% if isPuzzleVisible %}
        {% if preview_full.url != '' %}
        {# TODO: Convert to web component #}
        <span class="Button">
          <label>
            <input class="u-hidden" type="checkbox" id="puzzle-preview-button">
            <pm-icon size="sm">image-sprite</pm-icon>
          </label>
        </span>
        {% endif %}

        {# TODO: Move this button somewhere else.
        {% if scale != 0 %}
          <label for="puzzlepage-description-toggle">
            <pm-icon size="sm">info-circle-sprite</pm-icon>
          </label>
        {% endif %}
        #}

        <span class="Button">
        <pm-hash-color background-color="{{ puzzle.bg_color }}" name="{{ puzzle.puzzle_id }}">
        </pm-hash-color>
        </span>

        <pm-toggle-movable-pieces></pm-toggle-movable-pieces>

        <!-- TODO: button should toggle a small movable window that list more
          stuff like karma status, player list, etc.
        -->
        <!-- TODO: add player list -->

        <div class="u-paddingLeftXs u-marginLeftAuto">
          {%- if puzzle.status in (ACTIVE, BUGGY_UNLISTED) %}
          <pm-puzzle-latency puzzle-id="{{ puzzle.puzzle_id }}"></pm-puzzle-latency>
          {%- endif %}
        </div>
        {% endif %}

  {% endblock %}

{% block main %}

<div class="pm-Puzzlepage">
  <div class="pm-Puzzlepage-grid">
    {% if (isPuzzleVisible and scale == 0) or (title or msg) %}
    <div class="pm-Puzzlepage-gridA">
      {% if title or msg %}
        <h1>{{ title }}</h1>
        {% if puzzle.status == COMPLETED and puzzle.is_recent == 1 %}
          <p>
            This jigsaw puzzle has been recently completed.  {% if puzzle.is_original -%}
            Anyone
            {%- else -%}
            Only the owner of this puzzle instance
            {%- endif %} can rebuild it after {{ puzzle.redo_date }}.
          </p>
        {% else %}
        <p>{{ msg }}
        </p>
        {% if puzzle.status == COMPLETED %}
          {% if config.MINIMUM_PIECE_COUNT > puzzle.pieces %}
            {% set piece_count = config.MINIMUM_PIECE_COUNT %}
          {% else %}
            {% set piece_count = puzzle.pieces %}
          {% endif %}
        <pm-dot-require min="{{ config.MINIMUM_PIECE_COUNT }}" type="none">
          <pm-rebuild-form max-point-cost="{{ config.MAX_POINT_COST_FOR_REBUILDING }}"
                           new-user-starting-points="{{ config.NEW_USER_STARTING_POINTS }}"
                           points-cap="{{ config.POINTS_CAP }}"
                           puzzle-id="{{puzzle.puzzle_id}}"
                           is-original="{{ puzzle.is_original }}"
                           owner="{{ puzzle.owner }}"
                           min-piece-count="{{ config.MINIMUM_PIECE_COUNT }}"
                           piece-count="{{ piece_count }}"
                           >
          </pm-rebuild-form>
        </pm-dot-require>
        {% endif %}
        {% endif %}
      {% endif %}
      {% if isPuzzleVisible and scale == 0 %}
        <p>
            Puzzle shown at full size. It might not fit within your screen.
        </p>
      {% endif %}
    </div>
    {% endif %}

    {% if isPuzzleVisible %}

    <div class="pm-Puzzlepage-gridB">
      {% if scale == 0 %}
      {% endif %}
        <div id="puzzlepage-main" class="pm-Puzzlepage-main">
            <div id="puzzle-container" style="display: none;" puzzle_id="{{ puzzle.puzzle_id }}">{# <!-- Used by puzzle-pieces js --> #}</div>
            {% if preview_full.url != '' %}
            <div id="puzzle-preview-box"
                 class="pm-Puzzlepage-previewBox"
                 unselectable="on"
                 onselectstart="return false;"
                 onmousedown="return false;">
              <img class="pm-Puzzlepage-previewImg" src="{{ preview_full.url }}">
            </div>
            {% endif %}

            {% macro puzzlepieces() -%}
              <pm-puzzle-pieces
                style="width:{{ puzzle.table_width + 100 }}px; height:{{ puzzle.table_height + 100 }}px;background-color: {{ puzzle.bg_color }};"
                resources="{{ puzzle_files.url }}"
                puzzle-id="{{ puzzle.puzzle_id }}"
                status="{{ puzzle.status }}">
                <div slot="outline-bottom-content">
                </div>
              </pm-puzzle-pieces>
              <pm-puzzle-bits></pm-puzzle-bits>
            {%- endmacro %}

            {% if scale != 0 %}
            <slab-massive width="{{ puzzle.table_width + 100 }}"
                          height="{{ puzzle.table_height + 100 }}"
                          scale="0"
                          zoom="1"
                          fill="cover"
                          offset-x="0"
                          offset-y="0">
              {{ puzzlepieces() }}
            </slab-massive>
            {% else %}
              <div scroll-jump scale="1" zoom="1" offset-x="0" offset-y="0" style="position: relative; width:{{ puzzle.table_width + 100 }}px;height:{{ puzzle.table_height + 100 }}px;">
                {{ puzzlepieces() }}
              </div>
            {% endif %}

            <pm-puzzle-karma-alert puzzle-id="{{ puzzle.puzzle_id }}"></pm-puzzle-karma-alert>
            <pm-puzzle-alert puzzle-id="{{ puzzle.puzzle_id }}" status="{{ puzzle.status }}"></pm-puzzle-alerts>

        </div>
    </div>
    {% endif %}
  </div>
</div>
    {% if puzzle.status in (ACTIVE, COMPLETED, FROZEN, BUGGY_UNLISTED) %}
    {% if scale != 0 and isPuzzleVisible %}
    <input class="u-hiddenVisually pm-Puzzlepage-descriptionToggle" type="checkbox" id="puzzlepage-description-toggle">
    {% endif %}
    <div class="pm-Puzzlepage-description" id="puzzlepage-description">
      <div class="pm-Puzzlepage-descriptionHeader">
      <h2>{{ puzzle.pieces }} pieces</h2>
        <label class="pm-Puzzlepage-descriptionClose" for="puzzlepage-description-toggle">
          &times;
        </label>
      </div>
      <p>
        {% if puzzle.link %}
        <span class="u-textTruncate">
          Picture source: <a href="{{ puzzle.link }}" rel="nofollow" target="_blank">{{ puzzle.link }}</a>
        </span>
        {% endif %}
      </p>
        {% if puzzle.description %}
          <p>{{ puzzle.description }}</p>
        {% endif %}
          {% if not puzzle.is_original -%}
          <p>
  Puzzle instance created by
  <pm-player-bit player="{{ puzzle.owner }}"></pm-player-bit>
  from this <a href="/chill{{ url_for('.page_uri', uri='front/{}'.format(puzzle.original_puzzle_id)) }}">original puzzle</a>
          </p>
          {% endif %}
    </div>
    {% endif %}

{% endblock %}
