{% extends 'base.html.jinja2' %}

{% block main %}

<div class="pm-PuzzleListPage">

  <section>
    <h1>{{ public_image_count.value }} Unique Puzzle Images</h1>

    <div class="pm-PuzzleListPage-listing">
      <pm-puzzle-image-picker front-fragment-href="/chill{{ url_for('.page_uri', uri='front') }}" pieces-count-list="0 {{ config.PUZZLE_PIECE_GROUPS|join(' ') }}"></pm-puzzle-image-picker>
    </div>
  </section>

</div>

{% endblock %}
