{# TODO: Drop having a completed queue page in favor of using this puzzle image picker page. #}
{% if puzzles is mapping -%}
{% set puzzles = [puzzles] %}
{%- endif %}

<div class="pm-PuzzleImagePicker">
  <h2>Puzzle Image Picker</h2>
  <p>
    <strong>{{ public_image_count.value }}</strong> available images.
  </p>
  <div>
    <strong>Filter images</strong>

    <div>
      <label>Recently visited
        <input type="checkbox" checked value="1" name="puzzle-image-picker-filter--recent-visit">
      </label>
    </div>
    {# TODO: checkboxes for:
    Recently Active
    Recently Completed
    #}

    {# TODO: list of radio button tags like cat, landscape, color, art, etc. #}

    <div>
      <label for="puzzle-image-picker--pieces">Maximum piece count</label>
      <input type="range" min="100" max="6000" step="100" list="puzzle-image-picker--pieces-list">
      <datalist id="puzzle-image-picker--pieces-list"> {#<!-- No FF support, Chrome supports tickmarks -->#}
        <option value="100" label="100">
        <option value="1000" label="1000">
        <option value="2000" label="2000">
        <option value="6000" label="6000+">
      </datalist>
      <p>
        <em>Show only images that are big enough to have this many pieces</em>
      </p>
    </div>

  </div>


  {# TODO: Display results with js and move to client-side. #}
  {# Show the filtered results and paginate if necessary #}
  {% if puzzles %}

  <div class="pm-Queuepage">

    <div class="pm-Queue">
      <div class="pm-Queue-list" role="list">
        {% for item in puzzles %}
        {% set width = item.long if item.table_width > item.table_height else item.short %}
        {% set height = item.short if item.table_width > item.table_height else item.long %}
        {% set src = item.src %}
        <a href="/chill{{ url_for('.page_uri', uri='front/{0}'.format(item.puzzle_id)) }}">
          {% if item.status == 3 and not item.is_recent -%}
          <pm-dot-require min="{{item.pieces}}" type="blur">
            {%- endif %}
            <div class="pm-Queue-listitem" role="listitem">
              {% include 'previewFullImg.html' %}
            </div>
            <span class="pm-Queue-pieceCount"><strong>{{item.pieces}}</strong> pieces
              {% if item.status == 3 -%}
              <small class="u-block">Completed</small>
              {%- elif item.status == 4 -%}
              <small class="u-block">Frozen</small>
              {%- elif item.status == -3 -%}
              <small class="u-block">Rebuild queue</small>
              {%- elif item.status == -5 -%}
              <small class="u-block">Render queue</small>
              {%- elif item.status == -6 -%}
              <small class="u-block">Rendering</small>
              {%- elif item.status == -7 -%}
              <small class="u-block">Rendering failed</small>
              {%- endif %}
            </span>
            {% if item.status == 3 and not item.is_recent -%}
          </pm-dot-require>
          {%- endif %}
        </a>
        {% endfor %}
      </div>
    </div>

  </div>

  {% endif %}
</div>
