{% from 'preview-unknown.html' import preview_unknown %}

{% set width = puzzle.long if puzzle.table_width > puzzle.table_height else puzzle.short %}
{% set height = puzzle.short if puzzle.table_width > puzzle.table_height else puzzle.long %}

{% if puzzle.original_permission == -1 -%} {# PRIVATE #}
<p>
  This original puzzle is not public on the site.  Creating an instance of it is not allowed.
</p>
{% else %}

<form enctype="multipart/form-data" id="puzzle-instance-form" method="post" action="/newapi/puzzle-instance/">
  <input type="hidden" name="puzzle_id" value="{{puzzle.puzzle_id}}">

  <div class="pm-UploadForm">

    <div class="pm-UploadForm-row">
      <span>
        Image
      </span>
      <div>
        {% if puzzle.link -%}
        <small class="pm-Preview-source u-textTruncate">
          Picture source:
        <a href="{{puzzle.link}}" rel="nofollow">
          {{puzzle.link|replace('http://', '')|replace('https://', '')}}
        </a>
        </small>
        {%- endif %}
        {% if puzzle.url == '' %}
          {{ preview_unknown(width=width, height=height, class="pm-Preview-img", style="font-size:3em;") }}
        {% else %}
          <img class="pm-Preview-img" width="{{width|int}}" height="{{height|int}}" src="{{puzzle.url|safe}}" alt="">
        {% endif %}
        {% if puzzle.attribution %}
        <p class="pm-Preview-attribution">{{ '[chill route /internal/attribution/{}/ ]'.format(puzzle.attribution)|shortcodes }}</p>
        {% endif %}
      </div>
    </div>

    <div class="pm-UploadForm-row">
      <label for="pieces">
        Unlisted
      </label>
      <div>
        <input type="checkbox" id="permission" name="permission" value="-1">
        <p>
          Check this box to <em>not</em> have this puzzle publicly listed on the site.
        </p>
      </div>
    </div>

    <div class="pm-UploadForm-row">
      <label for="pieces">
        Piece Count
      </label>
      <div>
          {% if config.MINIMUM_PIECE_COUNT > puzzle.pieces %}
            {% set piece_count = config.MINIMUM_PIECE_COUNT %}
          {% else %}
            {% set piece_count = puzzle.pieces %}
          {% endif %}
        <input type="number"
               min="{{ config.MINIMUM_PIECE_COUNT }}"
               max="50000"
               id="pieces" name="pieces" value="{{ piece_count }}">
        <p>
        When the puzzle is being rendered try to create this many pieces from the image.
        </p>
      </div>
    </div>

    <div class="pm-UploadForm-row">
      <label for="bg_color">
        Background Color
        <pm-icon size="lg" class="u-block">paint-can-sprite</pm-icon>
      </label>
      <input id="bg_color" class="jscolor pm-UploadForm-colorPicker u-textCenter" type="text" name="bg_color" value="{{ puzzle.bg_color }}">
    </div>


    {# TODO: Should a new instance description be allowed?  It could show after the original description.
    <div class="pm-UploadForm-row">
      <label for="instance_description">Instance Description</label>
      <textarea id="instance_description" name="instance_description" maxlength="1000"></textarea>
    </div>
    #}


    <div class="u-textRight">
      <input class="button" type="submit" name="create" value="Create Instance" />
    </div>
  </div>
</form>

{% endif %}
