<pm-puzzle-alert puzzle-id="{{ puzzle.puzzle_id }}">
  <template id="puzzle-pieces-alert-template">
    <section id="puzzle-pieces-alert" class="pm-PuzzleAlert-section">
      <h1><small>Alerts</small></h1>
      <div id="puzzle-pieces-alert-max"  class="pm-PuzzleAlert-message pm-PuzzleAlert-message--max">

        <h2>Max Connections</h2>
        <p>
          Puzzle piece movement updates are disabled, because site has reached max
          connections.
        </p>
      </div>

      <div id="puzzle-pieces-alert-reconnecting"  class="pm-PuzzleAlert-message pm-PuzzleAlert-message--reconnecting">

        <h2>Reconnecting&hellip;</h2>
        <p>
          Puzzle piece movement updates are disabled while reconnecting.
        </p>
      </div>

      <div id="puzzle-pieces-alert-disconnected"  class="pm-PuzzleAlert-message pm-PuzzleAlert-message--disconnected">

        <h2>Disconnected</h2>
        <p>
          Puzzle piece movement updates are disabled. Try reloading the page.
        </p>
      </div>

      <div id="puzzle-pieces-alert-blocked"  class="pm-PuzzleAlert-message pm-PuzzleAlert-message--blocked">
        <h2>Your piece moves have been blocked</h2>
        <p id="puzzle-pieces-alert-blocked-msg"></p>
        <p id="puzzle-pieces-alert-blocked-reason"></p>
      </div>
    </section>
  </template>
</pm-puzzle-alerts>
