{% extends 'base.html.jinja2' %}

{% block main %}

<div class="pm-Puzzleuploadpage">

  <section>
    <h1>Create New Instance of a Puzzle</h1>
    {% include 'puzzle-instance-form.html.jinja2' %}
  </section>

</div>

{% endblock %}
