{% extends 'base.html.jinja2' %}
{% set ngModule = 'puzzleuploadpage' %}

{% block main %}

<div class="pm-Puzzleuploadpage">
  <section class="pm-Puzzleuploadpage-form">
    {% if route.contributor == config.NEW_PUZZLE_CONTRIB %}
      {% include 'uploadform.html.jinja2' %}
    {% else %}
      {% include 'suggest-image-form.html.jinja2' %}
    {% endif %}
  </section>
</div>

{% endblock %}
