{% macro queue(puzzles, limit=0) -%}
<div class="pm-Queue">
  <div class="pm-Queue-list" role="list">
    {% set this = namespace(puzzles_skipped = 0) %}
    {% for item in puzzles %}
    {% if not limit or loop.index <= limit %}
      {% set width = item.long if item.table_width > item.table_height else item.short %}
      {% set height = item.short if item.table_width > item.table_height else item.long %}
      {% set src = item.url %}
      <a href="/chill{{ url_for('.page_uri', uri='front/{0}'.format(item.puzzle_id)) }}">
          {% if item.status == 3 and not item.is_recent -%}
        <pm-dot-require min="{{item.pieces}}" type="blur">
         {%- endif %}
      <div class="pm-Queue-listitem" role="listitem">
        {% include 'previewFullImg.html' %}
      </div>
      <span class="pm-Queue-pieceCount"><strong>{{item.pieces}}</strong> pieces
        {% if item.status == 3 %}
        <small class="u-block">Completed</small>
        {% endif %}
      </span>
       {% if item.status == 3 and not item.is_recent -%}
        </pm-dot-require>
       {%- endif %}
    </a>
    {% else %}
      {% set this.puzzles_skipped = this.puzzles_skipped + 1 %}
    {% endif %}
    {% endfor %}
    {% if this.puzzles_skipped > 0 %}
      + {{ this.puzzles_skipped }} more
    {% endif %}
  </div>
</div>
{%- endmacro %}

{% if value %}
  {% if value is mapping -%}
    {% set value = [value] %}
  {%- endif %}
  {# Cache this for a day under the puzzle_id #}
  {% cache 60*60*24, 'queue', value[0].cache_key %}
    {{ queue(value) }}
  {% endcache %}
{% endif %}

