{% extends 'base.html' %}
{% from 'queue.html' import queue %}
{% set ngModule = 'queuepage' %}

{% if puzzles is mapping -%}
  {% set puzzles = [puzzles] %}
{%- endif %}
{% if recent_puzzles is mapping -%}
  {% set recent_puzzles = [recent_puzzles] %}
{%- endif %}

{% block title %}
| {{ route.status|capitalize }} Queue
{%- endblock %}

{% block description %}
More jigsaw puzzles available to play. These are sorted by number of pieces.
{% endblock %}

{% block main %}
<div class="pm-Queuepage">

  {% if route.status == 'active' %}
  <p class="pm-DotRequire pm-DotRequire--hidden is-dotted u-textRight" pm-dot-require="1">
    View the
    <a href="/chill{{ url_for('.page_uri', uri='queue/complete/0') }}"><strong>completed puzzles</strong></a>
    and redo them.
  </p>
  {% elif route.status == 'complete' %}
  <p class="u-textRight">
    View the
    <a href="/chill{{ url_for('.page_uri', uri='queue/active/0') }}"><strong>active puzzles</strong></a>.
  </p>
  {% endif %}
<nav class="pm-Queuepage-pagerNav u-textRight">
  <a class="pm-Queuepage-pagerLink" href="#queue-puzzles-200"><strong>Small</strong></a>
  <a class="pm-Queuepage-pagerLink" href="#queue-puzzles-200-800"><strong>Medium (200 - 800)</strong></a>
  <a class="pm-Queuepage-pagerLink" href="#queue-puzzles-800-1500"><strong>Large (800 - 1500)</strong></a>
  <a class="pm-Queuepage-pagerLink" href="#queue-puzzles-1500+"><strong>Huge (1500+)</strong></a>
</nav>

  {% if route.status == 'complete' %}
  <h1>Completed Puzzles Queue</h1>
  <p>Puzzles that have been marked with "<strong>+ ...</strong>" require more dots to redo them.  Earn dots by putting together puzzles.
  </p>
  {% else %}
  <h1>Active Puzzles Queue</h1>
  <p>All puzzles listed here are ready to be assembled by anyone.
  {% endif %}

{% if recent_puzzles %}
<h2>Recently {{ route.status }} puzzles</h2>
{{ queue(recent_puzzles) }}
{% endif %}

{% if puzzles %}
<h2 id="queue-puzzles-200">Puzzles with less than 200 pieces</h2>
{{ queue(puzzles|selectattr('pieces', "lessthan", 200)) }}
<h2 id="queue-puzzles-200-800">Puzzles with 200 to 800 pieces</h2>
{{ queue(puzzles|selectattr('pieces', "greaterthan", 199)|selectattr('pieces', "lessthan", 800)) }}
<h2 id="queue-puzzles-800-1500">Puzzles with 800 to 1500 pieces</h2>
{{ queue(puzzles|selectattr('pieces', "greaterthan", 799)|selectattr('pieces', "lessthan", 1500)) }}
<h2 id="queue-puzzles-1500+">Puzzles with more than 1500 pieces</h2>
{{ queue(puzzles|selectattr('pieces', "greaterthan", 1499)) }}
{% endif %}

</div>
{% endblock %}
