{% extends 'base.html' %}
{% set ngModule = 'scorespage' %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='scorespage.css') }}">
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('send_theme_file', filename='scorespage.bundle.js') }}"></script>
{% endblock %}

{% block title %}
 | High Scores 
{%- endblock %}

{% block main %}
  <div class="pm-Scorespage">
    <div class="pm-Scorespage-grid">
      <div class="pm-Scorespage-gridA">
        {{ page.highScores|safe }}
      </div>
      <div class="pm-Scorespage-gridB" ng-if="SiteController.hasBit">
        <pm-ranking ng-controller="RankingController as RankingController"></pm-ranking>
      </div>
    </div>
  </div>
{% endblock %}
