{% extends 'base.html.jinja2' %}
{% set ngModule = 'scorespage' %}

{% block main %}
  <div class="pm-Scorespage">
    <div class="pm-Scorespage-grid">
      <div class="pm-Scorespage-gridA">
        {{ page.highScores|safe }}
      </div>
      <div class="pm-Scorespage-gridB">
        <pm-ranking player-ranks-url="/newapi/player-ranks/"></pm-ranking>
      </div>
    </div>
  </div>
{% endblock %}
