<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Puzzle Massive {%- if page and page.title %} | {{ page.title }}
      {%- elif title %} | {{ title }}
      {%- else %}{% block title %}{% endblock %}{% endif %}</title>

    <meta name="description" content="{% block description %}{{ page.description }}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website" />

    {% block ogimage %}
    <meta property="og:image" content="http://{{ config.DOMAIN_NAME }}/puzzle-massive-logo-600.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="158" />
    {% endblock %}

    <meta name="msapplication-tap-highlight" content="no" />

    {% block stylesheet %}
    <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='site.css') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}">
    {% endblock %}

    {% block headscript %}
    <script type="module" src="{{ url_for('send_theme_file', filename='modernizr.build.min.js') }}"></script>
    <script>THEME_STATIC_PATH="{{ config.THEME_STATIC_PATH }}"</script>
    {% endblock %}

  </head>
  <body class="on-module-{{ ngModule }}">
    <pm-site-wide-message></pm-site-wide-message>

    {% block body %}
    {% endblock %}

    {% block script %}
    {# Super simple message to display for browsers that are not supported.  #}
    <script nomodule id="not-supported-browser-message" data-info-link="/chill{{ url_for('.page_uri', uri='faq') }}#puzzle-massive_faqpage-content_browser-support" src="{{ url_for('send_theme_file', filename='not-supported-browser-message.js') }}"></script>

    <script type="module" src="{{ url_for('send_theme_file', filename='webcomponents-loader.js') }}"></script>
    <script type="module" src="{{ url_for('send_theme_file', filename='hammer.min.js') }}"></script>
    <script type="module" src="{{ url_for('send_theme_file', filename='lazysizes.min.js') }}"></script>
    <script src="{{ url_for('send_theme_file', filename='reqwest.min.js') }}"></script>

    <script type="module" src="{{ url_for('send_theme_file', filename='site.bundle.js') }}{% if config.DEBUG == True and config.CACHE_TYPE == "null" %}?debug-no-cache={{ chill_now }}{% endif %}"></script>
    {% endblock %}

{% if config.DEBUG == True %}
config.DEBUG: True; chill_now: {{ chill_now }}
{% endif %}

  </body>
</html>
