
{% macro add(list) %}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:0;height:0;visibility:hidden">
  <defs>

  {% if 'arrow-left-circle' in list %}
  <symbol viewBox="0 0 88 88" id="arrow-left-circle-sprite">
  <path d="M0 44c0 24.3 19.7 44 44 44s44-19.7 44-44S68.3 0 44 0 0 19.7 0 44zm8 0c0 19.882 16.118 36 36 36s36-16.118 36-36S63.882 8 44 8 8 24.118 8 44zm41 14L35 44l14-14v28z" fill-rule="evenodd"/>
</symbol>
  {% endif %}

  {% if 'paint-can' in list %}
  <symbol viewBox="0 0 97.835373 87.069901" id="paint-can-sprite">
  <path d="M88.608 43.386a2.29 2.29 0 0 0-.523-1.688L54.133.834a2.315 2.315 0 0 0-3.256-.302l-6.685 5.56c-13.468-2.367-24.385 1.03-26.057 8.193-.782 3.392.74 6.97 3.922 10.195L.834 42.117a2.31 2.31 0 0 0-.3 3.254l33.95 40.865c.397.478.964.765 1.576.823.064.006.14.012.203.012.547 0 1.06-.188 1.48-.53l50.044-41.586c.467-.397.77-.96.82-1.568zM22.635 15.328c.804-3.43 7.467-5.982 16.713-5.22l-13.723 11.41c-2.272-2.19-3.397-4.402-2.99-6.19zm59.624 28.21l-75.963.046 19.38-16.103c3.89 2.723 9.022 4.993 14.945 6.364 3.718.87 7.406 1.29 10.832 1.29 3.44 0 6.567-.467 9.27-1.303.418.317.87.598 1.4.758a4.592 4.592 0 0 0 5.725-3.052 4.582 4.582 0 0 0-3.057-5.725 4.586 4.586 0 0 0-5.72 3.055c-.077.23-.033.46-.064.693-4.555 1.306-10.908 1.28-17.347-.21-4.972-1.156-9.116-2.945-12.29-4.937L52.055 5.564l31.004 37.31-.8.666zm6.92.442s-8.66 19.28-8.66 24.057c0 4.78 3.88 8.657 8.66 8.657a8.654 8.654 0 0 0 8.655-8.657c0-4.777-8.655-24.057-8.655-24.057z">
  </path>
  </symbol>
  {% endif %}

  {% if 'image' in list %}
  <symbol viewBox="0 0 88 72" id="image-sprite">
  <path d="M0 7.998C0 3.58 3.586 0 8.004 0h71.992C84.416 0 88 3.583 88 7.998v56.004C88 68.42 84.414 72 79.996 72H8.004C3.584 72 0 68.417 0 64.002V7.998zM52 64h-8L26 46 8 64V8h72v56L53 36 38.764 50.764 52 64zM24 32a8 8 0 1 0 0-16 8 8 0 0 0 0 16z" fill-rule="evenodd"/>
  </symbol>
  {% endif %}

  {% if 'full-screen' in list %}
  <symbol viewBox="0 0 88 88" id="full-screen-sprite">
  <path d="M79.996 0A8.005 8.005 0 0 1 88 8.004v71.992A8.005 8.005 0 0 1 79.996 88H8.004A8.005 8.005 0 0 1 0 79.996V8.004A8.005 8.005 0 0 1 8.004 0h71.992zM8 8h72v72H8V8zm43.55 65.593l22.22.177-.177-22.22-8.073-.058.076 8.447L52.656 47 47 52.657l12.94 12.94-8.448-.077.06 8.073zM36.22 14.177L14 14l.177 22.218 8.073.06-.077-8.448 12.94 12.94 5.657-5.657-12.94-12.94 8.447.077-.06-8.073z" fill-rule="evenodd"/>
  </symbol>
  {% endif %}

  {% if 'minimize' in list %}
  <symbol viewBox="0 0 88 88" id="minimize-sprite">
  <path d="M79.996 0A8.005 8.005 0 0 1 88 8.004v71.992A8.005 8.005 0 0 1 79.996 88H8.004A8.005 8.005 0 0 1 0 79.996V8.004A8.005 8.005 0 0 1 8.004 0h71.992zM8 8h72v72H8V8zm61.218 39.177L47 47l.177 22.218 8.073.06-.077-8.448 12.94 12.94 5.657-5.657-12.94-12.94 8.447.077-.06-8.073zM18.55 40.593l22.22.177-.177-22.22-8.073-.058.076 8.447L19.656 14 14 19.657l12.94 12.94-8.448-.077.06 8.073z" fill-rule="evenodd"/>
  </symbol>
  {% endif %}

  {% if 'info-circle' in list %}
  <symbol viewBox="0 0 88 88" id="info-circle-sprite"><path d="M44 88c24.3 0 44-19.7 44-44S68.3 0 44 0 0 19.7 0 44s19.7 44 44 44zm0-8c19.882 0 36-16.118 36-36S63.882 8 44 8 8 24.118 8 44s16.118 36 36 36zm0-42h4v20h3v4H37v-4h3V42h-3v-4h7zm-4-16h8v8h-8v-8z" fill-rule="evenodd"/></symbol>
  {% endif %}

  </defs>
</svg>
{% endmacro %}
