{% extends 'site.html.jinja2' %}
{% from './header.html.jinja2' import header %}

{% set baseModifierClass = '' %}

{% block body %}
{% if baseModifier == 'mainFocus' %}
  {% set baseModifierClass = 'pm-Base--mainFocus' %}
{% endif %}
<div class="pm-Base {{ baseModifierClass }}">
  {% block header %}
    <header class="pm-Base-header">
        {{ header(is_mock=True, show_profile_bit=True, show_instance_list=False) }}
    </header>
  {% endblock %}

<div class="pm-Base-menu">
  <div class="pm-Base-menuPrimary">
  {% include 'menu.html.jinja2' %}
  </div>
  <div class="pm-Base-menuSecondary">
  {% block secondarymenu %}
  <a href="/d/styleguide/">Style Guide</a>
  {% endblock %}

  </div>

</div>

  <main class="pm-Base-main" role="main">
    {% block main %}
    {% endblock %}
  </main>

  <footer class="pm-Base-footer">
  <div class="pm-Base-kneeer">
    {%- block kneeer -%}
      <a href="/d/styleguide/">Style Guide</a>
    {#- The chill route shortcode is only inserted if the route exists. This allows this content to be more customized per distribution. -#}
    {{ '[chill route /internal/header-cta/]'|shortcodes }}
    {#- A 404 error HTML comment is inserted here if this route is not defined. -#}
    {%- endblock -%}
    </div>
    {% block footer %}
      {% include 'player-stats-summary.html.jinja2' %}
      {% include 'post-comment.html.jinja2' %}
      {% include 'footer.html.jinja2' %}
    {% endblock %}
  </footer>
</div>
{% endblock %}
