<form enctype="multipart/form-data" id="suggest-image-form" method="post" action="/newapi/suggest-image/">
  <div class="pm-UploadForm">
    <div class="pm-UploadForm-row">
      <label for="pieces">
        Piece Count
      </label>
      <div>
        <input type="number"
               min="{{ config.MINIMUM_PIECE_COUNT }}"
               max="50000"
               id="pieces" name="pieces" value="{{ config.MINIMUM_PIECE_COUNT }}">
        <p>
        When the puzzle is being rendered try to create this many pieces from the image.
        </p>
      </div>
    </div>
    <div class="pm-UploadForm-row">
      <label for="bg_color">
        Background Color
        <pm-icon size="lg" class="u-block">paint-can-sprite</pm-icon>
      </label>
      <input id="bg_color" class="jscolor pm-UploadForm-colorPicker u-textCenter" type="text" name="bg_color" value="#484662">
    </div>
    <div class="pm-UploadForm-row">
      <label for="link">The website that the image is found on.</label>
      <div>
        <input id="link-field" style="width:100%" type="url" name="link" value="" placeholder="https://unsplash.com/photos/4nr59MLWI9E" maxlength="1000">
        <p>
        <em>If the picture is from <a href="https://unsplash.com/">Unsplash</a> add the url like this: <b class="u-block">https://unsplash.com/photos/4nr59MLWI9E</b></em>
        </p>
        {% if not config.UNSPLASH_APPLICATION_ID %}
        <p>
          <strong>This site is not set up to use the Unsplash API.</strong>
        </p>
        {% endif %}
      </div>
    </div>
    {% if config.SUGGEST_IMAGE_LINK %}
    <div class="pm-UploadForm-row">
      <p><span class="u-block"><a target="_blank" href="{{ config.SUGGEST_IMAGE_LINK }}">Send the image using this link</a>
        if it's your own.</span> The description field in this form should match the image you send.</p>
    </div>
    {% endif %}
    <div class="pm-UploadForm-row">
      <label for="description">Description</label>
      <textarea style="width:100%" id="description" name="description" maxlength="1000"></textarea>
    </div>

    <div class="u-textRight">
      <input class="Button Button--primary" type="submit" name="save" value="Suggest Image" />
    </div>
  </div>
</form>
