/dist
/.dist
/src/*/*.tmp.css
/src/*/*.tmp.css.map
/src/*/*.tmp.js
/src/*/*.tmp.js.map

/node_modules/*

!/node_modules/alpinejs
/node_modules/alpinejs/*
!/node_modules/alpinejs/dist
/node_modules/alpinejs/dist/*
!/node_modules/alpinejs/dist/alpine.js

!/node_modules/lazysizes
/node_modules/lazysizes/*
!/node_modules/lazysizes/lazysizes.min.js

!/node_modules/hammerjs
/node_modules/hammerjs/*
!/node_modules/hammerjs/hammer.min.js

!/node_modules/@webcomponents
/node_modules/@webcomponents/*
!/node_modules/@webcomponents/webcomponentsjs
/node_modules/@webcomponents/webcomponentsjs/*
!/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js
!/node_modules/@webcomponents/webcomponentsjs/bundles
/node_modules/@webcomponents/webcomponentsjs/bundles/*
!/node_modules/@webcomponents/webcomponentsjs/bundles/
!/node_modules/@webcomponents/webcomponentsjs/bundles/webcomponents-ce.js
!/node_modules/@webcomponents/webcomponentsjs/bundles/webcomponents-pf_dom.js
!/node_modules/@webcomponents/webcomponentsjs/bundles/webcomponents-pf_js.js
!/node_modules/@webcomponents/webcomponentsjs/bundles/webcomponents-sd-ce-pf.js
!/node_modules/@webcomponents/webcomponentsjs/bundles/webcomponents-sd-ce.js
!/node_modules/@webcomponents/webcomponentsjs/bundles/webcomponents-sd.js

!/node_modules/normalize.css
/node_modules/normalize.css/*
!/node_modules/normalize.css/normalize.css

!/node_modules/suitcss-utils-display
/node_modules/suitcss-utils-display/*
!/node_modules/suitcss-utils-display/index.css
!/node_modules/suitcss-utils-display/lib

!/node_modules/suitcss-utils-image
/node_modules/suitcss-utils-image/*
!/node_modules/suitcss-utils-image/index.css
!/node_modules/suitcss-utils-image/lib

!/node_modules/suitcss-utils-spacing
/node_modules/suitcss-utils-spacing/*
!/node_modules/suitcss-utils-spacing/index.css
!/node_modules/suitcss-utils-spacing/lib

!/node_modules/suitcss-utils-text
/node_modules/suitcss-utils-text/*
!/node_modules/suitcss-utils-text/index.css
!/node_modules/suitcss-utils-text/lib
