.pm-PuzzleBits {
}

.pm-PuzzleBits-bit {
  display: block;
  position: absolute;
  top: calc(-1em - 42px);
  left: 0px;
  transform: translate(0, 0);
  opacity: 0;
  z-index: 13;
  transition: opacity 0.5s linear;
  width: 40px;
  height: 40px;
  pointer-events: none;
  color: black;
  background-color: white;
  border-radius: 37%;
  text-shadow: white 0px 0px 2px, white 0px 0px 2px;
}

.pm-PuzzleBits-bit.is-active {
  opacity: 1;
}

.pm-PuzzleBits-bit--ownBit.is-active {
  opacity: 0.1;
  transition: opacity 0.1s linear;
}

.pm-PuzzleBits-bit:hover {
}
