@import "../../design-tokens/dist/v1/default.css";

:root {
  --color-dark: rgb(68, 71, 74);
  --color-dark-dark: rgb(0, 0, 0);
  --color-dark-light: rgba(78, 81, 84, 0.13);
  --color-primary: rgb(73, 111, 129);
  --color-primary-light: #86a7c8;
  --color-primary-dark: rgb(46, 80, 97);
  --color-light: rgb(224, 244, 244);
  --color-light-light: white;
  --color-light-accent: rgb(249, 249, 249);
  --color-accent: rgb(202, 109, 16);
}

/* widths (update custom-media.css, too) */
:root {
  --sm-viewport: 480px;
  --md-viewport: 700px;
  --lg-viewport: 1024px;
  --xl-viewport: 1920px;
}

/* For suitcss-utils-spacing */
:root {
  --spaceXs: 8px;
  --spaceSm: 16px;
  --spaceMd: 32px;
  --spaceLg: 64px;
  --spaceXl: 128px;
}
