:root {
  --pm-PuzzleList-columnWidth: 160px;
  --pm-PuzzleList-gap: 10px;
}
.pm-PuzzleList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--pm-PuzzleList-columnWidth), 1fr)
  );

  grid-gap: var(--pm-PuzzleList-gap);
  justify-content: center;
}

.pm-PuzzleList-item {
}
