@import "../site/viewport-breakpoints.css";
:root {
  --pm-PuzzleList-columnWidth: 160px;
  --pm-PuzzleList-gap: 10px;
}
.pm-PuzzleList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--pm-PuzzleList-columnWidth), 1fr)
  );

  grid-gap: var(--pm-PuzzleList-gap);
  justify-content: center;
}

.pm-PuzzleList--card {
}

.pm-PuzzleList--inline {
  --pm-PuzzleList-columnWidth: 40px;
  --pm-PuzzleList-gap: 2px;
}
@media (--md-viewport) {
  .pm-PuzzleList--inline {
    --pm-PuzzleList-columnWidth: 60px;
    --pm-PuzzleList-gap: 2px;
  }
}
@media (--lg-viewport) {
  .pm-PuzzleList--inline {
    --pm-PuzzleList-columnWidth: 80px;
    --pm-PuzzleList-gap: 2px;
  }
}

.pm-PuzzleList-item {
}
