:host {
  display: block;
  position: relative;
}

.pm-PuzzlePieces {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
}

.p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: transform 0.8s linear;
  background-repeat: no-repeat;
}

.p--dark.is-active {
}

.p--light.is-active {
}

.p.is-active,
.p.is-dragging {
  transition-duration: 0s;
}

.p.is-active {
  z-index: 13;
  box-shadow: 0px 0px 100px 0px currentColor;
}

.p.is-up,
.p.is-down {
  z-index: 13;
}

.p.is-up::before,
.p.is-down::before {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(-1em, -1em);
  border: 3px solid currentColor;
  background-color: black;
  width: 0.8em;
  height: 0.8em;
  font-size: 32px;
  font-weight: bold;
}

.p.is-up::before {
  border-radius: 50%;
  color: green;
  content: "+";
}

.p.is-down::before {
  border-radius: 5%;
  color: red;
  content: "-";
}

.p.is-immovable {
  z-index: 9;
  pointer-events: none;
}

.pm-PuzzlePieces-collection {
}

.pm-PuzzlePieces-dropZone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.pm-PuzzlePieces-outline {
  position: absolute;
  z-index: 1;
  outline: 1px solid black;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.1);
}

.pm-PuzzlePieces-karmaStatus {
  display: none;
  color: black;
  pointer-events: none;
  opacity: 0.5;
  position: sticky;
  top: 100vh;
  left: 100vw;
  /* 40px is estimate width of scrollbars */
  transform: translate(calc((2em + 40px) * -1), calc((2em + 40px) * -1));
  width: 2em;
  height: 2em;
  text-align: center;
  z-index: 20;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: 0 0 3px black, 0 0 6px white;
  line-height: 2em;
  transition: box-shadow 1s linear, background-color 1s linear;
}
.pm-PuzzlePieces-karmaStatus.is-active {
  display: block;
}
.pm-PuzzlePieces-karmaStatus[data-karma-level="0"] {
  color: black;
  opacity: 1;
  background-color: red;
  box-shadow: 0 0 10px 25px red;
}
.pm-PuzzlePieces-karmaStatus[data-karma-level="1"] {
  color: orange;
  opacity: 0.7;
  box-shadow: 0 0 0px 0px black;
  background-color: black;
}
.pm-PuzzlePieces--withinSlabMassive .pm-PuzzlePieces-karmaStatus {
  display: none;
}

.pm-PuzzlePieces-selected {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  border: 4px solid blue;
}

.pm-PuzzlePieces-selected > * {
  position: static;
}
