.pm-PuzzlePieces {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
}

.p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: transform 0.8s linear;
  background-repeat: no-repeat;
}

.p--dark.is-active {
}

.p--light.is-active {
}

.p.is-pending,
.p.is-active,
.p.is-dragging {
  transition-duration: 0s;
}

.p.is-pending,
.pm-PuzzlePieces.show-movable .p.is-pending,
.p.is-active,
.pm-PuzzlePieces.show-movable .p.is-active,
.pm-PuzzlePieces.show-movable .p.is-dragging {
  z-index: 13;
  box-shadow: 0px 0px 100px 0px currentColor;
}

.p.is-up,
.p.is-down {
  z-index: 13;
}

.p.is-up::before,
.p.is-down::before {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(-1em, -1em);
  border: 3px solid currentColor;
  background-color: black;
  width: 0.8em;
  height: 0.8em;
  font-size: 32px;
  font-weight: bold;
}

.p.is-up::before {
  border-radius: 50%;
  color: green;
  content: "+";
}

.p.is-down::before {
  border-radius: 5%;
  color: red;
  content: "-";
}

.p.is-immovable {
  z-index: 9;
  pointer-events: none;
}

.pm-PuzzlePieces.show-movable .p {
  box-shadow: 0 0 0px 10px rgba(0, 0, 0, 0.5),
    0 0 0 20px rgba(255, 255, 255, 0.8);
}
.pm-PuzzlePieces.show-movable .p.is-immovable {
  box-shadow: none;
}

.pm-PuzzlePieces-collection {
}

.pm-PuzzlePieces-dropZone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* The width, height, left, and top is set by puzzle CSS. */
/* [id=puzzle-outline] */
.pm-PuzzlePieces-outlineContainer {
  position: absolute;
}
.pm-PuzzlePieces-outlineContainer::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  opacity: 0.2;
}
.pm-PuzzlePieces-outline {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  outline: 1px solid black;
  border: 1px solid white;
  pointer-events: none;
}
.pm-PuzzlePieces-outlineTop {
  position: absolute;
  top: -50%;
  left: 0;
  height: 50%;
  display: flex;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
}
.pm-PuzzlePieces-outlineTopContent {
  flex: 1 1;
}
.pm-PuzzlePieces-outlineBottom {
  position: absolute;
  top: 100%;
  left: 0;
  height: 50%;
  overflow: hidden;
  width: 100%;
}
.pm-PuzzlePieces-outlineBottomContent {
}

.pm-PuzzlePieces-selected {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  border: 4px solid blue;
}

.pm-PuzzlePieces-selected > * {
  position: static;
}
