.pma-Montage {
}

.pma-Montage-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pma-Montage-list > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1px;
  width: calc(64px + 2px);
}

.pma-Montage-list > a {
  text-decoration: none;
}
