* {
  box-sizing: border-box;
}

html {
  font-size: 0.625em;
}

body {
  background-color: white;
  color: #111;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4em;
}
