:root{
  --designtoken-BackgroundColor-background: rgb(67, 67, 78);
}
:root{
  --designtoken-BackgroundColor-background--dark: rgb(0, 1, 5);
}
:root{
  --designtoken-BackgroundColor-background--light: rgb(67, 67, 78);
}
:root{
  --designtoken-BackgroundColor-background--accent: rgb(26, 14, 47);
}
:root{
  --designtoken-BackgroundColor-surface: rgb(245, 245, 245);
}
:root{
  --designtoken-BackgroundColor-surface--dark: rgb(0, 1, 5);
}
:root{
  --designtoken-BackgroundColor-surface--light: rgb(67, 67, 78);
}
:root{
  --designtoken-BackgroundColor-surface--accent: rgb(26, 14, 47);
}
:root{
  --designtoken-TextColor-onBackground: rgba(255, 255, 255, 0.87);
}
:root{
  --designtoken-TextColor-onBackground--medium: rgba(255, 255, 255, 0.6);
}
:root{
  --designtoken-TextColor-onBackground--disabled: rgba(255, 255, 255, 0.38);
}
:root{
  --designtoken-TextColor-onSurface: rgba(255, 255, 255, 0.87);
}
:root{
  --designtoken-TextColor-onSurface--medium: rgba(255, 255, 255, 0.6);
}
:root{
  --designtoken-TextColor-onSurface--disabled: rgba(255, 255, 255, 0.38);
}
