pm-profile-bit {
  display: block;
}

.pm-profileBit {
  --pm-profileBit-color: var(--color-light-light);
}

.pm-profileBit.isExpired {
}

.pm-profileBit-link {
  display: block;
}

.pm-profileBit-background {
  display: inline-block;
  color: var(--color-dark-dark);
  background-color: var(--pm-profileBit-color);
  box-shadow: 0 0 0px 3px var(--pm-profileBit-color);
  text-shadow: 0 0 4px var(--color-light-light), 0 0 1px var(--color-dark-dark);
}

.pm-profileBit-img {
  text-align: center;
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: contain;
}
.pm-profileBit.isExpired .pm-profileBit-img {
  opacity: 0.7;
}

.pm-profileBit-score {
}

.pm-profileBit-expired {
  color: var(--color-accent);
}
