@import "../site/viewport-breakpoints.css";
.pm-Base {
  --pm-Base-menu-height: calc(30px + 4px + 1em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pm-Base > * + * {
  margin-top: 26px;
}
.pm-Base--mainFocus {
  display: block;
}
.pm-Base--mainFocus > * + * {
  margin-top: 0;
}
.pm-Base--mainFocus > * {
  display: none;
}

.pm-Base-menu {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: var(--pm-Base-menu-height);
}

.pm-Base-menuPrimary {
}
@media (--sm-viewport) {
  .pm-Base-menuPrimary {
    width: 60px;
  }
}

.pm-Base-menuSecondary {
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0;
}
@media (--sm-viewport) {
  .pm-Base-menuSecondary {
    margin-left: 0;
    justify-content: flex-end;
    max-width: calc(320px - (60px + 10px * 2));
  }
}

/* Using selectors like this here because these child elements should be styled
 * like this because of their location in the secondary menu.  These elements
 * are commonly outside of the base template, however.
 */
.pm-Base-menuSecondary > * {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid currentColor;
  text-decoration: none;
  color: var(--color-dark);
}
@media (--sm-viewport) {
  .pm-Base-menuSecondary > * {
    padding: 5px 5px;
    border: 1px solid currentColor;
  }
}
.pm-Base-menuSecondary > a:hover,
.pm-Base-menuSecondary > a:active,
.pm-Base-menuSecondary > a:focus {
  text-decoration: underline;
}
.pm-Base-menuSecondary > a.is-active {
  background-color: var(--color-accent);
  color: var(--color-light-light);
  text-decoration: none;
}

.pm-Base-menuSecondary > * + * {
  margin-left: 10px;
}
@media (--sm-viewport) {
  .pm-Base-menuSecondary > * + * {
    margin-left: 5px;
  }
}

/* Sets it at the top and center */
.pm-Base-main {
  flex: 1 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 40vh;
}
.pm-Base--mainFocus .pm-Base-main {
  display: block;
  width: 100vw;
  height: 100vh;
}
