@import "../site/viewport-breakpoints.css";
.pm-Base {
  --pm-Base-menu-height: calc(30px + 4px + 1em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.pm-Base > * + * {
  margin-top: 26px;
}
.pm-Base--mainFocus > * + * {
  margin-top: 0;
}
.pm-Base--mainFocus > * {
  display: none;
}

.pm-Base-menu {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: var(--pm-Base-menu-height);
}

.pm-Base-menuPrimary {
}
@media (--sm-viewport) {
  .pm-Base-menuPrimary {
    width: 60px;
  }
}

.pm-Base-menuSecondary {
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0;
}
@media (--sm-viewport) {
  .pm-Base-menuSecondary {
    margin-left: 0;
    justify-content: flex-end;
    max-width: calc(320px - (60px + 10px * 2));
  }
}

.pm-Base-menuSecondary > * + * {
  margin-left: 10px;
}

/* Sets it at the top and center */
.pm-Base-main {
  flex: 1 0 0;
  align-self: center;
}
.pm-Base--mainFocus .pm-Base-main {
  display: block;
}
