/* @define Button */
@import "../site/viewport-breakpoints.css";
@import "suitcss-components-button";

/*
:root {
  --Button-border-color: currentcolor;
  --Button-border-width: 1px;
  --Button-color: inherit;
  --Button-disabled-opacity: 0.6;
  --Button-font: inherit;
  --Button-padding: 0.4em 0.75em;
}
*/
:root {
  --Button-border-width: 2px;
}

.Button--text {
  --Button-border-color: transparent;
  --Button-padding: 0.4em 8px;
  border-radius: 5px;
  /*
  display: flex;
  align-items: center;
  */
  min-width: 64px;
  min-height: 36px;
}
.onBackground.Button--text {
  --Button-color: var(--designtoken-TextColor-primaryOnBackground);
}
.onSurface.Button--text {
  --Button-color: var(--designtoken-TextColor-primaryOnSurface);
}
.onError.Button--text {
  --Button-color: var(--designtoken-TextColor-onError);
}

.Button--text:hover,
.Button--text:focus,
.Button--text:active {
  --Button-border-color: currentcolor;
}

.Button--text:disabled,
.Button--text.is-disabled {
  --Button-color: var(--designtoken-TextColor-onBackground);
}

.Button--plain {
  --Button-border-width: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
@media (--sm-viewport) {
  .Button--plain {
    --Button-border-width: 1px;
  }
}

.Button--plain:hover,
.Button--plain:focus,
.Button--plain:active {
  text-decoration: underline;
}

.Button--plain:active {
  background: var(--designtoken-BackgroundColor-primary--dark);
}

.Button--plain:disabled,
.Button--plain.is-disabled {
  text-decoration: none;
}
.Button--plain > * + * {
  padding-left: 5px;
}

.Button--primary {
  --Button-border-color: var(--designtoken-BackgroundColor-primary--dark);
  background: var(--designtoken-BackgroundColor-primary);
  color: var(--designtoken-TextColor-onPrimary);
  border-radius: 5px;
  box-shadow: currentcolor 0 1px 2px;
}

.Button--primary:hover {
  box-shadow: currentcolor 0 0px 0px 1px;
}

.Button--primary:active {
  background: var(--designtoken-BackgroundColor-primary--dark);
}

.Button--secondary {
  --Button-border-color: var(--designtoken-BackgroundColor-secondary--dark);
  background: var(--designtoken-BackgroundColor-secondary);
  color: var(--designtoken-TextColor-onSecondary);
  border-radius: 5px;
  box-shadow: currentcolor 0 1px 2px;
}

.Button--secondary:hover {
  box-shadow: currentcolor 0 0px 0px 1px;
}

.Button--secondary:active {
  background: var(--designtoken-BackgroundColor-secondary--dark);
}

.Button--accent {
  background: var(--designtoken-BackgroundColor-accent);
  color: var(--designtoken-TextColor-onAccent);
  border-radius: 5px;
  box-shadow: currentcolor 0 1px 2px;
}

.Button--accent:hover {
  box-shadow: currentcolor 0 0px 0px 1px;
}

.Button--accent:active {
  background: var(--designtoken-BackgroundColor-accent--dark);
}
