/* @define Button */
@import "../site/viewport-breakpoints.css";
/** Button styles modified from suitcss-components-button 6.0.2 */
/** Variants inspired by Material Design */

:root {
  --Button-border-color: currentcolor;
  --Button-outline-color: var(--designtoken-BackgroundColor-light--light);
  --Button-border-width: 2px;
  --Button-border-radius: 5px;
  --Button-color: currentcolor;
  --Button-disabled-opacity: 0.6;
  --Button-font: inherit;
  --Button-padding: 5px 10px;
  --Button-disabled-shadow-color: currentcolor;
}

/**
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

/**
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Inherit text color from ancestor.
 * 3. Inherit font styles from ancestor.
 * 4. Prevent button text from being selectable.
 * 5. Support button with icon.
 * 6. Prevent button from being too small for touch screens.
 */

.Button {
  background: transparent;
  border-color: var(--Button-border-color);
  border-radius: var(--Button-border-radius);
  border-style: solid;
  border-width: var(--Button-border-width);
  box-sizing: border-box; /* 1 */
  color: var(--Button-color); /* 2 */
  display: inline-flex; /* 5 */
  align-items: center; /* 5 */
  justify-content: center;
  font: var(--Button-font); /* 3 */
  margin: 0;
  padding: var(--Button-padding);
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none; /* 4 */
  min-width: 36px; /* 6 */
  min-height: 36px; /* 6 */
}
@media (--sm-viewport) {
  .Button {
    --Button-border-width: 1px;
  }
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

.Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/**
 * UI states
 *
 * 1. Override link style.
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none; /* 1 */
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(--Button-disabled-opacity);
  box-shadow: var(--u-elevation0-boxShadow);
}

/* Spacing for button with icon. */
.Button > * + * {
  padding-left: 5px;
}

/**
 * Text button
 *
 * Text buttons are typically used for less-pronounced actions, including those
 * located in dialogs and in cards. In cards, text buttons help maintain an
 * emphasis on card content.
 */
.Button--text {
  --Button-border-color: transparent;
  border-radius: 0;
  font-weight: bold;
  --Button-color: var(--designtoken-TextColor-primaryOnSurface);
  position: relative;
}
.Button--text:hover,
.Button--text:focus,
.Button--text:active {
  border-bottom-color: currentcolor;
}

.Button--text:disabled,
.Button--text.is-disabled {
  border-bottom-color: transparent;
}
.Button--text.on-background {
  --Button-color: var(--designtoken-TextColor-primaryOnBackground);
}
.Button--text.on-primary {
  --Button-color: var(--designtoken-TextColor-onPrimary);
}
.Button--text.on-secondary {
  --Button-color: var(--designtoken-TextColor-onSecondary);
}
.Button--text.on-tertiary {
  --Button-color: var(--designtoken-TextColor-onTertiary);
}
.Button--text.on-accent {
  --Button-color: var(--designtoken-TextColor-onAccent);
}
.Button--text.on-error {
  --Button-color: var(--designtoken-TextColor-onError);
}

.Button--text:after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  border-bottom: 1px solid currentcolor;
  left: 0;
  right: 0;
  bottom: 0;
}

.Button--textPrimary {
  --Button-border-color: transparent;
  --Button-color: var(--designtoken-BackgroundColor-primary--dark);
}

/**
 * Contained Buttons
 *
 * Plain, primary, secondary, tertiary, and accent are all contained buttons.
 * They have a higher emphasis and should not be used next to each other.
 */

/*
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    */
/**
 * Plain button
 *
 * Uses contrast color for background.
 */
.Button--plain {
  background: var(--designtoken-BackgroundColor-dark);
  --Button-color: var(--designtoken-TextColor-onDark);
  --Button-outline-color: var(--designtoken-BackgroundColor-dark--dark);
  box-shadow: var(--u-elevation1-boxShadow);
}

.Button--plain:hover,
.Button--plain:focus,
.Button--plain:active {
}

.Button--plain:disabled,
.Button--plain.is-disabled {
}

.Button--plain.on-background {
}
.Button--plain.on-error {
  background: var(--designtoken-BackgroundColor-dark--dark);
  --Button-color: var(--designtoken-TextColor-onDark);
}
.Button--plain.on-dark {
  background: var(--designtoken-BackgroundColor-light);
  --Button-color: var(--designtoken-TextColor-onLight);
  --Button-outline-color: var(--designtoken-BackgroundColor-light--light);
}
.Button--plain.on-light {
  background: var(--designtoken-BackgroundColor-dark--dark);
  --Button-color: var(--designtoken-TextColor-onDark);
}

/** Primary Button
 *
 * Usually the 'submit' form button.
 */
.Button--primary {
  background: var(--designtoken-BackgroundColor-primary);
  --Button-color: var(--designtoken-TextColor-onPrimary);
  --Button-border-color: var(--designtoken-BackgroundColor-primary--dark);
  --Button-outline-color: var(--designtoken-BackgroundColor-primary--dark);
  box-shadow: var(--u-elevation1-boxShadow);
}

.Button--primary:hover,
.Button--primary:focus,
.Button--primary:active {
}

.Button--primary:disabled,
.Button--primary.is-disabled {
  box-shadow: var(--u-elevation0-boxShadow);
}

.Button--primary.on-background {
}
.Button--primary.on-error {
  background: var(--designtoken-BackgroundColor-light--dark);
  --Button-border-color: var(--designtoken-TextColor-onLight);
  --Button-color: var(--designtoken-TextColor-onLight);
  --Button-outline-color: var(--designtoken-BackgroundColor-primary);
}
.Button--primary.on-dark {
  background: var(--designtoken-BackgroundColor-primary--dark);
  --Button-border-color: var(--designtoken-BackgroundColor-primary--light);
}
.Button--primary.on-light {
  background: var(--designtoken-BackgroundColor-primary--light);
  --Button-border-color: var(--designtoken-BackgroundColor-primary--dark);
}

/**
 * Secondary Button
 *
 * Button that is second in charge.
 */
.Button--secondary {
  --Button-border-color: var(--designtoken-BackgroundColor-secondary--dark);
  --Button-color: var(--designtoken-TextColor-onSecondary);
  background: var(--designtoken-BackgroundColor-secondary);
  --Button-disabled-shadow-color: var(
    --designtoken-TextColor-onSurface--disabled
  );
}

.Button--secondary:hover,
.Button--secondary:focus,
.Button--secondary:active {
  background: var(--designtoken-BackgroundColor-secondary--dark);
}
.Button--secondary:disabled,
.Button--secondary.is-disabled {
  --Button-color: var(--designtoken-TextColor-onDark--disabled);
  --Button-color: var(--designtoken-TextColor-onDark);
  --Button-border-width: 0px;
  opacity: 1;
  text-shadow: 0 0 3px black;
  background: repeating-linear-gradient(
    45deg,
    var(--Button-disabled-shadow-color),
    var(--Button-disabled-shadow-color) 5px,
    var(--designtoken-BackgroundColor-dark) 5px,
    var(--designtoken-BackgroundColor-dark) 20px
  );
}

.Button--secondary:disabled:hover,
.Button--secondary:disabled:focus,
.Button--secondary:disabled:active,
.Button--secondary.is-disabled:hover,
.Button--secondary.is-disabled:focus,
.Button--secondary.is-disabled:active {
  /*
  background: var(--designtoken-BackgroundColor-secondary);
  */
}

/**
 * Tertiary Button
 *
 */

.Button--tertiary {
}

/**
 * Accent Button
 *
 * Look what I can do.
 */

.Button--accent {
  --Button-border-color: var(--designtoken-BackgroundColor-accent--dark);
  --Button-color: var(--designtoken-TextColor-onAccent);
  background: var(--designtoken-BackgroundColor-accent);
}

.Button--accent:hover,
.Button--accent:focus,
.Button--accent:active {
  background: var(--designtoken-BackgroundColor-accent--dark);
}
.Button--accent:disabled:hover,
.Button--accent:disabled:focus,
.Button--accent:disabled:active,
.Button--accent.is-disabled:hover,
.Button--accent.is-disabled:focus,
.Button--accent.is-disabled:active {
  background: var(--designtoken-BackgroundColor-accent);
}
