:root {
  --u-elevation0-boxShadow: none;
  --u-elevation1-boxShadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --u-elevation2-boxShadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --u-elevation3-boxShadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --u-elevation4-boxShadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --u-elevation5-boxShadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}
.u-elevation0 {
  box-shadow: var(--u-elevation0-boxShadow);
}
.u-elevation1 {
  box-shadow: var(--u-elevation1-boxShadow);
}
.u-elevation2 {
  box-shadow: var(--u-elevation2-boxShadow);
}
.u-elevation3 {
  box-shadow: var(--u-elevation3-boxShadow);
}
.u-elevation4 {
  box-shadow: var(--u-elevation4-boxShadow);
}
.u-elevation5 {
  box-shadow: var(--u-elevation5-boxShadow);
}
