-r ../requirements.txt
Pillow == 6.0.0
git+https://github.com/jkenlooper/glue#egg=glue
https://github.com/jkenlooper/pixsaw/archive/develop.zip#egg=pixsaw
docopt==0.6.2
https://github.com/jkenlooper/piecemaker/archive/develop.zip#egg=piecemaker
#pycurl==7.43.0.2

requests==2.21
cairosvg==2.3.1
-e api/
