[ req ]
default_bits           = 2048
default_keyfile        = local-puzzle-massive.key
prompt                 = no
default_md             = sha256
distinguished_name     = dn
req_extensions         = req_ext
x509_extensions        = v3_ca

[ dn ]
commonName             = local-puzzle-massive
emailAddress           = jake@weboftomorrow.com
name                   = Jake Hickenlooper
countryName            = US
stateOrProvinceName    = Local
localityName           = Local Llama Town
organizationName       = Puzzle Massive
organizationalUnitName = Local Development

[req_ext]
subjectAltName         = @alt_names

[v3_ca]
subjectAltName         = @alt_names
authorityKeyIdentifier = keyid,issuer
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment

[alt_names]
DNS.1                  = 127.0.0.1
DNS.2                  = local-puzzle-massive
