[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
commonName = local-puzzle-massive
organizationName = Puzzle Massive
countryName = US
localityName = Local Llama Town
organizationalUnitName = Chill
stateOrProvinceName = Local
emailAddress = jake@weboftomorrow.com
name = Jake Hickenlooper
